 <!-- Course-details-area start -->
<div class="course-details-area pb-60">
    <!-- Course title -->
    <div class="course-banner bg-img bg-cover pb-5" data-bg-image="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner-content" data-aos="fade-up">
                        <nav aria-label="breadcrumb">
                          
                        </nav>
                        <h3 class="title mb-15 mt-10">
                            VSAT (Vignan Scholastic Aptitude Test) will be conducted by Vignan’s University in the state of Andhra Pradesh for admission to the B.Tech course. The B.Tech course is offered by the university at its Vadlamudi, Guntur Campus.                        </h3>
                        <p class="text mb-20">
                            What you will learn                            </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course-description -->
    <div class="container">
        <div class="row gx-xl-5">
            <div class="col-lg-8" data-aos="fade-up">
                <!-- course-details-tab -->
                <div class="course-details-tab pt-5">
                    <div class="tabs-navigation mb-40">
                        <ul class="nav nav-tabs" data-hover="fancyHover">
                            <li class="nav-item active">
                                <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Overview</button>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="tab-content">
                        <!-- Overview -->
                        <div class="tab-pane slide slide show active" id="tab1">
                            <div class="content pb-20">
                                <p class="text">
                                    VSAT stands for Vignan's Scholastic Aptitude Test conducted for admission into BTech/BPharmacy at Vignan's Foundation for Science, Technology, and Research (Deemed to be University). The institute offers admission to various undergraduate, postgraduate, and research programs based on the VSAT exam.                                <div class="row gl-xl-5 mt-20">
                                   
                                   
                                </div>
                            </div>
                        </div>
                        
                       
                        <!-- Review -->
                        <div class="tab-pane slide" id="tab5">
                            <div class="review-progresses p-30 radius-md border mb-40">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-30">
                                    <h4 class="mb-0">Total Reviews Status</h4>
                                    <div class="ratings size-md">
                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star-md.png">
                                            <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star-md.png"></div>
                                        </div>
                                        <span class="ratings-total">(4.5)</span>
                                    </div>
                                </div>
                              
                                <div class="review-list mb-30 border radius-md">
                                    <div class="review-item p-30">
                                        <div class="review-header flex-wrap mb-20">
                                            <div class="author d-flex align-items-center justify-content-between gap-3">
                                                <div class="author-img">
                                                    <a href="error-404.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 rounded-circle">
                                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/avatar-2.jpg" alt="Avatar">
                                                    </a>
                                                </div>
                                                <div class="author-info">
                                                    <h6 class="mb-1">
                                                        <a href="error-404.html" target="_self" title="Link">Johnny Ben</a>
                                                    </h6>
                                                    <div class="ratings mb-1">
                                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star.png">
                                                             <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star.png"></div>
                                                        </div>
                                                        <span class="ratings-total">(4.5)</span>
                                                     </div>
                                                    <span class="font-xsm icon-start">
                                                        <span class="color-green">
                                                            <i class="fas fa-badge-check"></i>
                                                        </span>
                                                        Verified User
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start">
                                                    <i class="fal fa-map-marker-alt"></i>
                                                    Los Angela's, USA
                                                </div>
                                                <div class="icon-start">
                                                    <i class="fal fa-clock"></i>
                                                    04 Days ago
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="lc-1">Ana Studios was very logical and creative at the same time</h4>
                                        <p>The client received excellent feedback on DePalma Studios’ designs due to
                                            their website's improved look and feel. The team was very communicative and
                                            collaborative, and they demonstrated a unique understanding of the client’s
                                            requirements, providing very.
                                        </p>
                                    </div>
                                    <div class="review-reply bg-light border-top p-30">
                                        <div class="review-header flex-wrap mb-20 d-flex align-items-center justify-content-between gap-3">
                                            <div class="author d-flex align-items-center gap-2">
                                                <div class="icon"><i class="fal fa-reply-all"></i></div>
                                                <h6 class="mb-0">Reply from Ana Rita Pailo</h6>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start"><i class="fal fa-clock"></i>04 Days ago</div>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <p>Hi Thomas,</p>
                                            <p>I can see that we screwed up in our communication with you, and for that
                                                I sincerely apologize!</p>
                                            <p>I just re-read the email chain with Sven and I can see that we dropped
                                                the ball in of our explanation of how we work. I think there were
                                                several miscommunications that happened here, which I take full
                                                responsibility for.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pagination -->
                                <nav class="pagination-nav mb-30">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Previous">
                                                <i class="far fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="courses.html">1</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">2</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Next">
                                                <i class="far fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up">
                <aside class="widget-area bg-white shadow-md radius-md">
                    <div class="widget widget-enroll p-25">
                        <figure class="course-img">
                            
                                <img class="lazyload" src="assets/images/exams/vsat.jpg" alt="class-6">
                                
                               
                           
                            <div class="social-link rounded justify-content-center mt-20 pt-20 border-top">
                                <div class="course-price mt-15">
                                    <h4 class="new-price">VSAT
                                    </h4>
                                </div>
                                
                            </div>
                        </figure>
                       
                        
                       
                        <ul class="toggle-list list-unstyled mt-20" id="toggleList" data-toggle-show="5">
                            <li class="icon-start">
                                <span>
                                    
                                    <span class="name">FIELD :</span>
                                </span>
                                <span>Engineering</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                   
                                    <span class="name">ELIGIBILITY :</span>
                                </span>
                                <span>Educational Qualifications: Candidate must pass class 10+2 or its equivalent examination from a recognized board.</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                  
                                    <span class="name">SUBJECTS :</span>
                                </span>
                                <span>Physics, Chemistry, Mathematics, Biology and English</span>
                            </li>
                            
                            <li class="icon-start">
                                <span>
                                    
                                    <span class="name">QUESTIONS TYPE:</span>
                                </span>
                                <span>Objective</span>
                            </li>
                        </ul>
                       
                       
                    </div>
                </aside>
               
        </div>
    </div>
</div>

<!-- Course-details-area start -->

<!-- Course-details-area start -->


<section class="course-area latest ptb-100">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title title-inline mb-30" data-aos="fade-up">
                <h2 class="title mb-20">
                    Prepare Easy with <span>SRESHTA EDUTECH</span>
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                
            </div>
        </div>
        <div class="col-12">
            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane slide show active" id="tab1">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Videolectures.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Videolectures
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Learn every concept visually for a strong foundation
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/AdaptivePractice.jpg" alt="course">
                                    </a>
                                    
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                AdaptivePractice
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Practice questions which adapt to your own pace
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Livedoubts.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Livedoubts
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Chat with the best teachers to solve your doubts 24x7
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Testseries.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Test Series
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Compete with millions in an exam like environment
                                    </div>
                                </div>
                            </div>
                        </div>
            

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div data-aos="fade-up">
                <h4></h4>
                <h2 class="title mb-20">
                    All you need to know about VSAT
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
               
                <div _ngcontent-c9="" class="col-sm-9  pl-4 "><!--bindings={
                    "ng-reflect-ng-for-of": "[object Object],[object Object"
                  }--><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref52"><h3 _ngcontent-c9="" class="info headding3">What is VSAT ?</h3><div _ngcontent-c9="" class="blog-post "><p><b>VSAT</b>&nbsp;Admit Card.&nbsp;<b>VSAT</b>&nbsp;Results. Vignan's University conducts the university level<b>examination</b>&nbsp;Vignan Scholastic Aptitude Test (<b>VSAT</b>) for admission into the B.Tech course offered by the Vignan's University and its associated campuses. Students can also get admission into B.Tech programme through JEE Main and EAMCET.</p>
                  </div></div></div><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref53"><h3 _ngcontent-c9="" class="info headding3">Syllabus For VSAT  </h3><div _ngcontent-c9="" class="blog-post "><p>VSAT 2019 Syllabus for B.Tech course, will be based on the syllabus of Class 11 and 12 of Physics, Chemistry, Maths/Biology and English/Aptitude. Syllabus of subjects are given below:</p>
                  
                  <p><img alt="" height="50px" src="assets/images/physics.png" width="50px"> <h3><strong>Physics</strong></h3>
                  
                  <ul>
                      <li>Physical World and Measurement</li>
                      <li>Kinematics</li>
                      <li>Laws of Motion</li>
                      <li>Work, Energy and Power</li>
                      <li>Motion of System of Particles and Rigid body</li>
                      <li>Gravitation</li>
                      <li>Properties of Bulk Matter</li>
                      <li>Heat and Thermodynamics</li>
                      <li>Behaviour of Perfect Gas and Kinetic Theory</li>
                      <li>Oscillations and Waves</li>
                      <li>Current Electricity</li>
                      <li>Magnetic effects of current &amp; Magnetism</li>
                      <li>Electromagnetic Induction and Alternating Currents</li>
                      <li>Electromagnetic Waves</li>
                      <li>Optics</li>
                      <li>Dual Nature of Matter and Radiation</li>
                      <li>Atoms and Nuclei</li>
                      <li>Electronic Devices</li>
                      <li>Communication Systems</li>
                  </ul>
                  <br>
                  <p><img alt="" height="50px" src="assets/images/chemistry.png" width="50px"> <h3><strong>Chemistry</strong></h3>
                 
                  <ul>
                      <li>Some basic concepts of Chemistry</li>
                      <li>Structure of Atom</li>
                      <li>Classification of Elements and Periodicity in Properties</li>
                      <li>Chemical Bonding and Molecular Structure</li>
                      <li>States of Matter: Gases and Liquids</li>
                      <li>Thermodynamics</li>
                      <li>Equilibrium</li>
                      <li>Redox Reactions</li>
                      <li>Hydrogen</li>
                      <li>s-Block Elements (Alkali and Alkaline earth metals)</li>
                      <li>General Introduction of p-Block Element</li>
                      <li>Some Basic Principals and Techniques of Organic Chemistry</li>
                      <li>Classification of hydrocarbons</li>
                      <li>Environmental pollution</li>
                      <li>Solid State</li>
                      <li>Solutions</li>
                      <li>Electro-chemistry</li>
                      <li>Chemical Kinetics</li>
                      <li>Surface Chemistry</li>
                      <li>General Principles and Processes of Isolation of Elements</li>
                      <li>p-Block Elements</li>
                      <li>d-and f-Block Elements</li>
                      <li>Haloalkanes and Haloarenes</li>
                      <li>Alcohols, Phenols and Ethers</li>
                      <li>Aldehydes, Ketones and Carboxylic acids</li>
                      <li>Organic compounds containing Nitrogen</li>
                      <li>Biomolecules</li>
                      <li>Polymers</li>
                      <li>Chemistry in Everyday life</li>
                  </ul>
                  <br>
                  <p><img alt="" height="50px" src="assets/images/maths.png" width="50px"> <h3><strong>Mathematics</strong></h3>
                  
                  <ul>
                      <li>Sets &amp; Functions</li>
                      <li>Algebra</li>
                      <li>Co-ordinate Geometry</li>
                      <li>Calculus (I)</li>
                      <li>Mathematical Reasoning</li>
                      <li>Statistics &amp; Probability (I)</li>
                      <li>Relations &amp; Functions</li>
                      <li>Algebra (II)</li>
                      <li>Calculus (II)</li>
                      <li>Vectors</li>
                      <li>Three-dimensional Geometry</li>
                      <li>Linear Programming</li>
                      <li>Probability</li>
                  </ul>
                  <br>
                  <p><img alt="" height="50px" src="assets/images/biology.png" width="50px"> <h3><strong>Biology</strong></h3>
                  
                  <ul>
                      <li>Diversity in Living World</li>
                      <li>Structural Organisation in Animal and Plants</li>
                      <li>Cell: Structure &amp; Function</li>
                      <li>Plant Physiology</li>
                      <li>Human Physiology</li>
                      <li>Sexual Reproduction</li>
                      <li>Genetics &amp; Evolution</li>
                      <li>Biology &amp; Human Welfare</li>
                      <li>Biotechnology and its Applications</li>
                      <li>Ecology &amp; Environment</li>
                  </ul>
                  <br>
                  <p><img alt="" height="50px" src="assets/images/english.png" width="50px"> <h3><strong>English</strong></h3>
                  
                  <ul>
                      <li>Synonyms,</li>
                      <li>Antonyms,</li>
                      <li>Analogies,</li>
                      <li>Idioms and Phrases,</li>
                      <li>One word Substitution,</li>
                      <li>Sentence Improvement and Rearrangement,</li>
                      <li>Fill in the blanks,</li>
                      <li>English Usage Errors</li>
                      <li>Comprehension.</li>
                  </ul>
                  </div></div></div><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref54"><h3 _ngcontent-c9="" class="info headding3">Exam Pattern For VSAT</h3><div _ngcontent-c9="" class="blog-post "><ul>
                      <li>VSAT 2019 exam will most likely be held in the last week of April 2019 in 2 slots: Morning and afternoon.</li>
                      <li>Exam is conducted in online mode</li>
                      <li>Medium is English.</li>
                      <li>The duration of the paper is 180 minutes.</li>
                      <li>The questions paper is multiple choice objective type.</li>
                      <li>There are altogether 120 questions on subjects Physics, Chemistry, Mathematics/Biology and English/Aptitude.</li>
                      <li>1 mark is given for each correct answer and there is no negative marking.</li>
                  </ul>
                  </div></div></div></div>














            
        </div>
    </div>
</div>

<!-- Course-area end -->
