 <!-- Breadcrumb start -->
 <div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>State Board</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item active" aria-current="page">States</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->

   <!-- Course-area start -->
   <div class="course-area pt-60 pb-75">
    <div class="container">
        <div class="row gx-xl-5">
            <div class="container">
                <form class="form cf">
                  <section class="plan cf">
                    <input type="radio" name="radio1" id="state1" value="free"><label class="state1-label four col" for="state1"><img src="assets/images/states/01AndhraPradesh.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="AP-Syllabus.html" target="_self" title="Link">
                                AndhraPradesh
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state2" value="state2" checked><label class="state2-label four col" for="state2"><img src="assets/images/states/02ArunachalPradesh.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                ArunachalPradesh
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state3" value="state3"><label class="state3-label four col" for="state3"><img src="assets/images/states/03Assam.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Assam
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state4" value="platinum"><label class="state4-label four col" for="state4"><img src="assets/images/states/04Bihar.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Bihar
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state5" value="state5"><label class="vikram-label four col" for="state5"><img src="assets/images/states/05Chhattisgarh.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Chhattisgarh
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>


                    
                    <input type="radio" name="radio1" id="state6" value="free"><label class="state6-label four col" for="state6"><img src="assets/images/states/06Goa.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Goa
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state7" value="state7" checked><label class="state7-label four col" for="state7"><img src="assets/images/states/07Gujarat.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Gujarat
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state8" value="state8"><label class="state8-label four col" for="state8"><img src="assets/images/states/08Haryana.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Haryana
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state9" value="state9"><label class="state9-label four col" for="state9"><img src="assets/images/states/09HimachalPradesh.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                HimachalPradesh
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state10" value="state10"><label class="state10-label four col" for="state10"><img src="assets/images/states/10Jharkhand.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Jharkhand
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>






                    <input type="radio" name="radio1" id="state11" value="state11"><label class="state11-label four col" for="state11"><img src="assets/images/states/11Karnataka.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Karnataka
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state12" value="state12" checked><label class="state7-label four col" for="state12"><img src="assets/images/states/12Kerala.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Kerala
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state13" value="state13"><label class="state13-label four col" for="state13"><img src="assets/images/states/13MadhyaPradesh.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                MadhyaPradesh
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state14" value="state14"><label class="state14-label four col" for="state14"><img src="assets/images/states/14Maharashtra.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Maharashtra
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state15" value="state15"><label class="state15-label four col" for="state15"><img src="assets/images/states/15Manipur.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Manipur
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>









                    <input type="radio" name="radio1" id="state16" value="state16"><label class="state16-label four col" for="state16"><img src="assets/images/states/16Meghalaya.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Meghalaya
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state17" value="state17" checked><label class="state17-label four col" for="state17"><img src="assets/images/states/17Mizoram.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Mizoram
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state18" value="state18"><label class="state18-label four col" for="state18"><img src="assets/images/states/18Nagaland.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Nagaland
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state19" value="state19"><label class="state19-label four col" for="state19"><img src="assets/images/states/19Odisha.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Odisha
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state20" value="state20"><label class="state20-label four col" for="state20"><img src="assets/images/states/20Punjab.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Punjab
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>







                    <input type="radio" name="radio1" id="state21" value="state21"><label class="state21-label four col" for="state21"><img src="assets/images/states/21Rajasthan.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Rajasthan
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state22" value="state22" checked><label class="state22-label four col" for="state22"><img src="assets/images/states/22Sikkim.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Sikkim
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state23" value="state23"><label class="state23-label four col" for="state23"><img src="assets/images/states/23Tamil Nadu.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Tamil Nadu
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state24" value="state24"><label class="state24-label four col" for="state24"><img src="assets/images/states/24Telangana.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Telangana
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state25" value="state26"><label class="state25-label four col" for="state25"><img src="assets/images/states/25Tripura.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Tripura
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>




                    <input type="radio" name="radio1" id="state26" value="state26"><label class="state26-label four col" for="state26"><img src="assets/images/states/26Uttarakhand.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Uttarakhand
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state27" value="state27" checked><label class="state27-label four col" for="state27"><img src="assets/images/states/27Uttar Pradesh.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                Uttar Pradesh
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>
                    <input type="radio" name="radio1" id="state28" value="state28"><label class="state18-label four col" for="state28"><img src="assets/images/states/28WestBengal.png">
                        <h6 class="course-title lc-2 mb-0">
                            <a href="#" target="_self" title="Link">
                                WestBengal
                            </a><i class="fas fa-long-arrow-right"></i>
                        </h6>
                    </label>



































                  </section>

                  
                </form>
              </div>



        </div>
    </div>
</div>
<!-- Course-area end -->