<div>
  <!-- Preloader start -->
  <div id="preLoader">
    <div class="animation-container">
      <div class="lightning-container">
        <div class="lightning white"></div>
        <div class="lightning red"></div>
      </div>
      <div class="boom-container">
        <div class="shape circle big white"></div>
        <div class="shape circle white">
          <img src="assets/images/logo/loader.svg" />
        </div>
        <div class="shape triangle big yellow"></div>
        <div class="shape disc white"></div>
        <div class="shape triangle blue"></div>
      </div>
      <div class="boom-container second">
        <div class="shape circle big white"></div>
        <div class="shape circle white"></div>
        <div class="shape disc white"></div>
        <div class="shape triangle blue"></div>
      </div>
    </div>
  </div>
  <!-- Preloader end -->

  <!-- Header-area start -->
  <header class="header-area">
    <!-- Start mobile menu -->
    <div class="mobile-menu">
      <div class="container">
        <div class="mobile-menu-wrapper"></div>
      </div>
    </div>
    <!-- End mobile menu -->

    <div class="main-responsive-nav">
      <div class="container">
        <!-- Mobile Logo -->
        <div class="logo">
          <a href="/" target="_self" title="Sreshta EduTech">
            <img
              class="lazyload"
              src="assets/images/placeholder.png"
              data-src="assets/images/logo/logo-1.svg"
              alt="Brand Logo"
            />
          </a>
        </div>
        <!-- Menu toggle button -->
        <button class="menu-toggler" type="button">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

    <div class="main-navbar">
      <div class="header-bottom">
        <div class="container">
          <nav class="navbar navbar-expand-lg">
            <!-- Logo -->
            <a
              class="navbar-brand"
              href="/"
              target="_self"
              title="Sreshta EduTech"
            >
              <img
                class="lazyload"
                src="assets/images/placeholder.png"
                data-src="assets/images/logo/logo-1.svg"
                alt="Brand Logo"
              />
            </a>
            <!-- Navigation items -->
            <div class="collapse navbar-collapse">
              <ul id="mainMenu" class="navbar-nav mobile-item mx-auto">
                <li class="nav-item">
                  <a class="nav-link toggle" href="#pages"
                    >Products<i class="fa fa-chevron-down"></i
                  ></a>
                  <ul class="menu-dropdown">
                    <li class="nav-item">
                      <a class="nav-link" href="/cbse">CBSE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/state">State Board</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/skill-education"
                        >Skill Education</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link toggle" href="#"
                        >Robotics<i class="fa fa-chevron-down"></i
                      ></a>
                      <ul class="menu-dropdown">
                        <li class="nav-item">
                          <a class="nav-link" href="/robotics">Robotics</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/robotics-ai"
                            >Robotics with AI</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/robotics-iot"
                            >Robotics with IOT</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/game-development"
                            >Game Development (scratch programming)</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/iit-foundation"
                        >IIT Foundation</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#primary" class="nav-link toggle"
                    >Primary <i class="fa fa-chevron-down"></i
                  ></a>
                  <ul class="menu-dropdown">
                    <li class="nav-item">
                      <a class="nav-link" href="#"><strong></strong></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/first-grade">First Grade</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/second-grade"
                        >Second Grade</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/third-grade">Third Grade</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/fourth-grade"
                        >Fourth Grade</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/fifth-grade">Fifth Grade</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#secondary" class="nav-link toggle"
                    >Secondary<i class="fa fa-chevron-down"></i
                  ></a>
                  <ul class="menu-dropdown">
                    <li class="nav-item">
                      <a class="nav-link" href="#"><strong>Classes</strong></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/class-6">Class 6</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/class-7">Class 7</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/class-8">Class 8</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/class-9">Class 9</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/class-10">Class 10</a>
                    </li>
                    <hr />
                    <a class="nav-link" href="#"><strong>Boards</strong></a>
                    <li class="nav-item">
                      <a class="nav-link" href="/cbse-board">CBSE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/andhra-board"
                        >Andhra Pradesh</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/ts-state-board">Telangana</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a href="#exams" class="nav-link toggle"
                    >Exams <i class="fa fa-chevron-down"></i
                  ></a>
                  <ul class="menu-dropdown">
                    <li class="nav-item">
                      <a class="nav-link" href="#"
                        ><strong> Engineering </strong></a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/viteee">VITEEE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/jeemain">JEE Main</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/jeeadv"
                        >JEE Advanced</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/vsat">VSAT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/kleee">KLEEE</a>
                    </li>

                    <hr />

                    <a class="nav-link" href="#"><strong> Medical</strong></a>

                    <li class="nav-item">
                      <a class="nav-link" href="/neet">NEET</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/aiims">AIIMS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/ap-eamcet">AP EAMCET</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/ts-eamcet">TS EAMCET</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="more-option mobile-item">
              <div class="item">
                <a
                  href="/login"
                  class="btn btn-outline"
                  target="_self"
                  aria-label="login"
                  title="User"
                >
                  <span>Login</span>
                </a>
              </div>
              <div class="item">
                <div class="cta-btn">
                  <a
                    href="/register"
                    class="btn btn-primary"
                    title="SignUp"
                    target="_self"
                    >SignUp</a
                  >
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- Header-area end -->
</div>
