 <!-- Breadcrumb start -->
 <div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Class8 Syllabus</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item active" aria-current="page"></li><br>
                    <p> Learn for CBSE, ICSE, Andhra Pradesh, Telangana, other school boards along with Olympiads and Competitive exams.
                    </p>
                </ol>   
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->

 



<!-- course-description -->
<div class="container">
<div class="row gx-xl-5">
    <div class="col-lg-12" data-aos="fade-up">
        <!-- course-details-tab -->
        <div class="course-details-tab pt-5">
            <div class="tabs-navigation mb-40">
                <ul class="nav nav-tabs" data-hover="fancyHover">
                    <li class="nav-item active">
                        <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Maths</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab2" type="button">Physics</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab3" type="button">Chemistry </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab4" type="button">Biology</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab5" type="button">English</button>
                    </li>

                   




                </ul>
            </div>
            <div class="tab-content">
                <!-- Overview -->
                <div class="tab-pane slide slide show active" id="tab1">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                      
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                   <li> Rational Numbers</li>
                                   <li>Linear Equation in One Variable</li>
                                   <li> Understandings Quadrilaterals</li>
                                   <li>Practical Geometry</li>
                                   <li>Data Handling</li>
                                   <li>Squares and Square Roots</li>
                                   <li>Cube and Cube Roots</li>
                                   <li>Comparing Quantities</li>
                                   <li>Algebraic Expressions and Identities</li>
                                   <li>Visualising Solid Shapes</li>
                                   <li>Mensuration</li>
                                   <li>Exponents and Powers</li>
                                   <li>Direct and Inverse Proportions</li>
                                   <li>Factorisation</li>
                                   <li>Introduction to Graphs</li>
                                   <li>Playing with Numbers</li>
                                   <li>RATIONAL NUMBERS</li>
                                   <li>LINEAR EQUATION IN ONE VARIABLES</li>
                                   <li>CONSTRUCTION OF QUADRILATERAL</li>
                                   <li>EXPONENTS AND POWERS</li>
                                   <li>COMPARING QUANTITIES USING PROPORTION</li>
                                   <li>SQUARE ROOTS AND CUBE ROOTS</li>
                                   <li>FREQUENCY DISTRIBUTION TABLES AND GRAPHS</li>
                                   <li>EXPLORING GEOMETRICAL FIGURES</li>
                                   <li>AREA OF PLANE FIGURES</li>
                                   <li>DIRECT AND INVERSE PROPORTIONS</li>
                                   <li>ALGEBRAIC EXPRESSIONS</li>
                                   <li>FACTORISATION</li>
                                   <li>VISUALIZING 3-D IN 2-D</li>
                                   <li>SURFACE AREAS AND VOLUMES (CUBE-CUBOID)</li>
                                   <li>PLAYING WITH NUMBERS</li>
                                  </ol>


                                  


                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    
                
                <!-- Course content -->
                <div class="tab-pane slide" id="tab2">
                    <div class="accordion pb-20" id="courseAccordion">
                        <h5 class="title mb-20">What you'll learn</h5>
                         <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Force and Pressure</li>
                                    <li>Friction</li>
                                    <li>Sound</li>
                                    <li>Chemical Effects and Electric Current</li>
                                    <li>Some Natural Phenomena</li>
                                    <li>Light</li>
                                    <li>Stars and the Solar System</li>
                                    <li>FORCE</li>
                                    <li>FRICTION</li>
                                    <li>SOUND</li>
                                    <li>REFLECTION OF LIGHT AT PLANE SURFACES</li>
                                    <li>SOME NATURAL PHENOMENA</li>
                                    <li>STARS AND SOLAR SYSTEM</li>
                                    <li>GRAPHS OF MOTION</li>                      
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    
                <!-- Details -->
                <div class="tab-pane" id="tab3">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                   <li> Synthetic Fibres and Plastics</li>
                                   <li>Materials</li>
                                   <li>Coal and Petroleum</li>
                                   <li>Combustion and Flame</li>
                                   <li>Synthetic Fibres and Plastics</li>
                                   <li>METALS AND NON-METALS</li>
                                   <li>COAL AND PETROLEUM</li>
                                   <li>COMBUSTION, FUELS AND FLAME</li>
                                   <li>ELECTRIC CONDUCTIVITY OF LIQUIDS</li>

                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                       
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    
                <!-- Instructor -->
                <div class="tab-pane slide" id="tab4">
                    <div class="mentor mb-40">
                        <div class="mentor-info">
                            <div class="mentor-img">
                                <h5 class="title mb-20">What you'll learn</h5>
                                <div class="row gl-xl-5 mt-20">
                                    <div class="col-lg-6">
                                        <ol>
                                        <li>Crop Production and Management</li>
                                        <li>Microorganisms</li>
                                        <li>Conservation of Plants and Animals</li>
                                        <li>Cell</li>
                                        <li>Reproduction in Animals and Age of Adolescence</li>
                                        <li>Pollution of Air and Water</li>
                                        <li>CELL-THE BASIC UNIT OF LIFE</li>
                                        <li>THE WORLD OF MICRO ORGANISMS PART 1&2</li>
                                        <li>REPRODUCTION IN ANIMALS</li>
                                        <li>THE AGE OF ADOLESCENCE</li>
                                        <li>BIODIVERSITY AND ITS CONSERVATION</li>
                                        <li>DIFFERENT ECOSYSTEMS</li>
                                        <li>PRODUCTION OF FOOD FROM PLANTS</li>
                                        <li>PRODUCTION OF FOOD FROM ANIMALS</li>
                                        <li>NOT FOR BREATHING - NOT FOR DRINKING</li>
                                        <li>WHY DO WE FALL ILL</li>





                                          </ol>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list list-unstyled mb-20">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                        
                                    </div>
                                </div>

                <!-- Review -->
                <div class="tab-pane slide" id="tab5">
                    <h5 class="title mb-20">What you'll learn</h5>
                            <div class="row gl-xl-5 mt-20">
                                <div class="col-lg-6">
                                    <ol>
                                        <li>Operating System and Graphic User Interface-Role and Functions</li>
                                        <li>Spreadsheet-Functions and Charts</li>
                                        <li>Algorithms and Flowcharts</li>
                                        <li>Program Coding</li>
                                        <li>App Development</li>
                                        <li>Networks</li>



                                      </ol>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="info-list list-unstyled mb-20">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                    
                                </div>
                            </div>


  <!-- course-description -->
<div class="container">
<div class="row gx-xl-5">
    <div class="col-lg-12" data-aos="fade-up">
        <!-- course-details-tab -->
        <div class="course-details-tab pt-10">
            <div class="tabs-navigation mb-40">
                <ul class="nav nav-tabs" data-hover="fancyHover">
                    <li class="nav-item active">
                        <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab6" type="button">Telugu</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab7" type="button">Hindi</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab8" type="button">Social </button>
                    </li>

                </ul>
            </div>
            <div class="tab-content">
                <!-- Overview -->
                <div class="tab-pane slide slide show active" id="tab6">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                      
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Knowing Our Numbers</li>
                                    <li>Whole Numbers</li>
                                    <li>Playing with Numbers</li>
                                    <li>Basic Geometrical Ideas</li>
                                    <li>Understanding Elementary Shapes</li>
                                    <li>Integers</li>
                                    <li>Fractions</li>
                                    <li>Decimals</li>
                                    <li>Data Handling</li>
                                    <li>Mensuration</li>
                                    <li>Algebra</li>  
                                    <li>Ratio and Proportion</li>
                                    <li>Symmetry</li>
                                    <li>Practical Geometry</li>
                                    <li>KNOWING OUR NUMBERS</li>
                                    <li>WHOLE NUMBERS</li>
                                    <li>PLAYING WITH NUMBERS</li>
                                    <li>BASIC GEOMETRICAL IDEAS</li>
                                    <li>MEASURES OF LINES AND ANGLES</li>
                                    <li>INTEGERS</li>
                                    <li>FRACTIONS AND DECIMALS</li>
                                    <li>DATA HANDLING</li>
                                    <li>INTRODUCTION TO ALGEBRA</li>
                                    <li>PERIMETER AND AREA</li>
                                    <li>RATIO AND PROPORTION</li>
                                    <li>SYMMETRY</li>
                                    <li>PRACTICAL GEOMETRY</li>
                                    <li>UNDERSTANDING 3D AND 2D SHAPES</li>
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260"src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                
                
                <!-- Course content -->
                <div class="tab-pane slide" id="tab7">
                    <div class="accordion pb-20" id="courseAccordion">
                        <h5 class="title mb-20">What you'll learn</h5>
                         <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Motion and Measurement of Distances</li>
                                    <li>Light, Shadows and Reflections</li>
                                    <li>Electricity and Circuits</li>
                                    <li>Fun With Magnets</li>
                                    <li>PLAYING WITH MAGNETS</li>
                                    <li>SIMPLE ELECTRIC CIRCUITS</li>
                                    <li>LEARNING HOW TO MEASURE</li>
                                    <li>LIGHT, SHADOW AND IMAGES</li>                                        
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    
                        
                <!-- Details -->
                <div class="tab-pane" id="tab8">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Fibre to Fabric</li>
                                    <li>Sorting Materials into Groups</li>
                                    <li>Separation of Substances</li>
                                    <li>Changes Around Us</li>
                                    <li>Air Around Us</li>
                                    <li>RAIN: WHERE DOES IT COME FROM</li>
                                    <li>MATERIALS AND THINGS</li>
                                    <li> SEPARATION OF SUBSTANCES</li>
                                    <li>FIBER TO FABRIC</li>
                                    <li>CHANGES AROUND USn</li>
                                    <li>WATER IN OUR LIFE</li>  
                                    <li>LIVING AND NON-LIVING</li>

                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                       
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                
              

        <!-- Spacer -->
        <div class="pb-40"></div>
<!-- Course-details-area start -->