 <!-- Breadcrumb start -->
 <div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Second Grade</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item active" aria-current="page">Videos</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->




<!-- Videos-area start -->


<section class="course-area latest ptb-100">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title title-inline mb-30" data-aos="fade-up">
                <h2 class="title mb-20">
                    Second Grade <span>Videos </span>
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                
            </div>
        </div>
        <div class="col-12">
            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane slide show active" id="tab1">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <iframe _ngcontent-c3="" allow="autoplay; fullscreen" allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/328636306" width="100%" data-ready="true"></iframe>
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Stone Henge
                                            </a>
                                        </h6>
                                        
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <iframe _ngcontent-c3="" allow="autoplay; fullscreen" allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/385628196" width="100%" data-ready="true"></iframe>
                                    
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                               Spherical Mirrors & Types
                                            </a>
                                        </h6>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <iframe _ngcontent-c3="" allow="autoplay; fullscreen" allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/334117050" width="100%" data-ready="true"></iframe>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Similarity Traingles
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <iframe _ngcontent-c3="" allow="autoplay; fullscreen" allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/443702813" width="100%" data-ready="true"></iframe>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                               Natural Fibre - Cotton
                                            </a>
                                        </h6>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Videos-area end -->