<!-- Course-details-area start -->
<div class="course-details-area pb-60">
    <!-- Course title -->
    <div class="course-banner bg-img bg-cover pb-5" data-bg-image="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner-content" data-aos="fade-up">
                        <nav aria-label="breadcrumb">
                          
                        </nav>
                        <h3 class="title mb-15 mt-10">
                            Koneru Lakshmaiah University (KL University) conducts KLEEE (KL Engineering Entrance Exam) for admissions to BTech and BArch programmes offered at the University.                      </h3>
                        <p class="text mb-20">
                            What you will learn                            </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course-description -->
    <div class="container">
        <div class="row gx-xl-5">
            <div class="col-lg-8" data-aos="fade-up">
                <!-- course-details-tab -->
                <div class="course-details-tab pt-5">
                    <div class="tabs-navigation mb-40">
                        <ul class="nav nav-tabs" data-hover="fancyHover">
                            <li class="nav-item active">
                                <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Overview</button>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="tab-content">
                        <!-- Overview -->
                        <div class="tab-pane slide slide show active" id="tab1">
                            <div class="content pb-20">
                                <p class="text">
                                    Admission to KL Deemed to be University is based on a valid score in either KLEEE (B.Tech), KLECET (B.Tech Lateral Entry), or KLMAT (Management), an in-house KL University entrance exam. Aside from engineering and management programs, the admission process is based on merit score followed by the Personal Interview (PI) round.

                       <div class="row gl-xl-5 mt-20">
                                   
                                   
                                </div>
                            </div>
                        </div>
                        
                       
                        <!-- Review -->
                        <div class="tab-pane slide" id="tab5">
                            <div class="review-progresses p-30 radius-md border mb-40">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-30">
                                    <h4 class="mb-0">Total Reviews Status</h4>
                                    <div class="ratings size-md">
                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star-md.png">
                                            <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star-md.png"></div>
                                        </div>
                                        <span class="ratings-total">(4.5)</span>
                                    </div>
                                </div>
                              
                                <div class="review-list mb-30 border radius-md">
                                    <div class="review-item p-30">
                                        <div class="review-header flex-wrap mb-20">
                                            <div class="author d-flex align-items-center justify-content-between gap-3">
                                                <div class="author-img">
                                                    <a href="error-404.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 rounded-circle">
                                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/avatar-2.jpg" alt="Avatar">
                                                    </a>
                                                </div>
                                                <div class="author-info">
                                                    <h6 class="mb-1">
                                                        <a href="error-404.html" target="_self" title="Link">Johnny Ben</a>
                                                    </h6>
                                                    <div class="ratings mb-1">
                                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star.png">
                                                             <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star.png"></div>
                                                        </div>
                                                        <span class="ratings-total">(4.5)</span>
                                                     </div>
                                                    <span class="font-xsm icon-start">
                                                        <span class="color-green">
                                                            <i class="fas fa-badge-check"></i>
                                                        </span>
                                                        Verified User
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start">
                                                    <i class="fal fa-map-marker-alt"></i>
                                                    Los Angela's, USA
                                                </div>
                                                <div class="icon-start">
                                                    <i class="fal fa-clock"></i>
                                                    04 Days ago
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="lc-1">Ana Studios was very logical and creative at the same time</h4>
                                        <p>The client received excellent feedback on DePalma Studios’ designs due to
                                            their website's improved look and feel. The team was very communicative and
                                            collaborative, and they demonstrated a unique understanding of the client’s
                                            requirements, providing very.
                                        </p>
                                    </div>
                                    <div class="review-reply bg-light border-top p-30">
                                        <div class="review-header flex-wrap mb-20 d-flex align-items-center justify-content-between gap-3">
                                            <div class="author d-flex align-items-center gap-2">
                                                <div class="icon"><i class="fal fa-reply-all"></i></div>
                                                <h6 class="mb-0">Reply from Ana Rita Pailo</h6>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start"><i class="fal fa-clock"></i>04 Days ago</div>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <p>Hi Thomas,</p>
                                            <p>I can see that we screwed up in our communication with you, and for that
                                                I sincerely apologize!</p>
                                            <p>I just re-read the email chain with Sven and I can see that we dropped
                                                the ball in of our explanation of how we work. I think there were
                                                several miscommunications that happened here, which I take full
                                                responsibility for.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pagination -->
                                <nav class="pagination-nav mb-30">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Previous">
                                                <i class="far fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="courses.html">1</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">2</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Next">
                                                <i class="far fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up">
                <aside class="widget-area bg-white shadow-md radius-md">
                    <div class="widget widget-enroll p-25">
                        <figure class="course-img">
                            
                                <img class="lazyload" src="assets/images/exams/kleee.jpg" alt="class-6">
                                
                               
                           
                            <div class="social-link rounded justify-content-center mt-20 pt-20 border-top">
                                <div class="course-price mt-15">
                                    <h4 class="new-price">KLEEE
                                    </h4>
                                </div>
                                
                            </div>
                        </figure>
                       
                        
                       
                        <ul class="toggle-list list-unstyled mt-20" id="toggleList" data-toggle-show="5">
                            <li class="icon-start">
                                <span>
                                    
                                    <span class="name">FIELD :</span>
                                </span>
                                <span>Engineering</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                   
                                    <span class="name">ELIGIBILITY :</span>
                                </span>
                                <span>They should have passed 10+2 or equivalent examination with 60% and above in Group subjects.</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                  
                                    <span class="name">SUBJECTS :</span>
                                </span>
                                <span>Chemistry,Physics, <br>Mathematics</span>
                            </li>
                            
                            <li class="icon-start">
                                <span>
                                    
                                    <span class="name">QUESTIONS TYPE:</span>
                                </span>
                                <span>Objective</span>
                            </li>
                        </ul>
                       
                       
                    </div>
                </aside>
               
        </div>
    </div>
</div>

<!-- Course-details-area start -->

<!-- Course-details-area start -->


<section class="course-area latest ptb-100">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title title-inline mb-30" data-aos="fade-up">
                <h2 class="title mb-20">
                    Prepare Easy with <span>SRESHTA EDUTECH</span>
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                
            </div>
        </div>
        <div class="col-12">
            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane slide show active" id="tab1">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Videolectures.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Videolectures
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Learn every concept visually for a strong foundation
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/AdaptivePractice.jpg" alt="course">
                                    </a>
                                    
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                AdaptivePractice
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Practice questions which adapt to your own pace
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Livedoubts.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Livedoubts
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Chat with the best teachers to solve your doubts 24x7
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Testseries.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Test Series
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Compete with millions in an exam like environment
                                    </div>
                                </div>
                            </div>
                        </div>
            

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div data-aos="fade-up">
                <h4></h4>
                <h2 class="title mb-20">
                    All you need to know about KLEEE
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                <div _ngcontent-c9="" class="col-sm-9  pl-4 "><!--bindings={
                    "ng-reflect-ng-for-of": "[object Object],[object Object"
                  }--><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref55"><h3 _ngcontent-c9="" class="info headding3">What is KLEEE ?</h3><div _ngcontent-c9="" class="blog-post "><p>KLEE (Kerala Law Entrance Exam) 2019 is conducted by Commissioner of Entrance Exam (CEE), Thiruvananthapuram in offline mode. Candidates seeking admission to&nbsp;<strong>5 year LLB program</strong>&nbsp;must appear in this test.</p>
                  
                  <p>KLEEE is tentatively scheduled for the first week of July 2019 in<strong>&nbsp;offline mode</strong>. The question paper consists of&nbsp;<strong>200 Objective types&nbsp;questions</strong>&nbsp;for which the candidates will be provided with&nbsp;<strong>3 hours</strong>. Admissions to the courses will be based on the rank of the candidate in the entrance exam.</p>
                  
                  <ul>
                      <li>Each correct answer will be awarded with 3 marks and every incorrect answer 1 marks will be deducted.&nbsp;No marks are deducted for any un-attempted questions.</li>
                      <li>All candidates need to mark their answers in the OMR sheet as given by the authority</li>
                      <li>Paper will be divided into 3 parts which comprise of General English, General Knowledge, and Aptitude for Legal Studies in multiple choice questions.</li>
                      <li>General English and General Knowledge section comprise of 65 questions each and Aptitude for Legal Studies consists of 70 questions.</li>
                  </ul>
                  </div></div></div><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref56"><h3 _ngcontent-c9="" class="info headding3">Syllabus for KLEEE</h3><div _ngcontent-c9="" class="blog-post "><p>Kerala LLB 5-year 2019 exam will consist of the following topics as per the sections stated in the underneath table:</p>
                  
                  <p><img alt="" height="50px" src="assets/images/english.png" width="50px"> <strong><h3>General English</h3></strong></p>
                  
                  <ul>
                      <li>&nbsp;Reading Comprehension</li>
                      <li>Word Usage</li>
                      <li>Vocabulary</li>
                      <li>Grammar</li>
                      <li>Para Jumbles</li>
                      <li>Synonyms</li>
                      <li>Antonyms</li>
                      <li>Inference questions</li>
                      <li>Phrases</li>
                  </ul>
                  <br>
                  <p><img alt="" height="50px" src="assets/images/GK.png" width="50px"> <h3><strong>General Studies</strong></h3>
                  
                  <ul>
                      <li>Current Affairs</li>
                      <li>Famous Personalities</li>
                      <li>International Events</li>
                      <li>UN Bodies</li>
                      <li>Sports</li>
                      <li>Awards</li>
                      <li>Environmental Issue</li>
                      <li>Geopolitics</li>
                      <li>Honours</li>
                  </ul>
                  <br>
                  <p><img alt="" height="50px" src="assets/images/logicalReasoning.png" width="50px"> <h3><strong>Aptitude of Legal Studies</strong></h3>
                  
                  <ul>
                      <li>Law of Crimes</li>
                      <li>Law of Torts</li>
                      <li>Vicarious Liability</li>
                      <li>International Law</li>
                      <li>Strict Liability</li>
                      <li>Intellectual Property Rights</li>
                      <li>Contracts Law</li>
                      <li>Constitutional Law</li>
                      <li>Legal Awareness including Constitutional Law and Polity</li>
                  </ul>
                  
                  <p>&nbsp;</p>
                  </div></div></div><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref57"><h3 _ngcontent-c9="" class="info headding3">Exam Pattern For KLEEE</h3><div _ngcontent-c9="" class="blog-post "><ul>
                      <li><strong>Exam Mode –</strong>&nbsp;KLEE 2019 will be conducted in offline mode for both 3-year LLB and 5 years – integrated LLB.</li>
                      <li><strong>Exam Centers –</strong>&nbsp;The entrance exams will be conducted at various locations in as many as 4 cities of Kerala including Thiruvananthapuram, Ernakulum, Thrissur and Kozhikode.</li>
                      <li><strong>Exam Duration –</strong>&nbsp;The time allotted for attempting test paper of KLEE 2019 is 3 hours’.</li>
                      <li><strong>Number of Questions –</strong>&nbsp;The total number of questions in KLEE 2019 is 200.</li>
                      <li><strong>Types of Questions –</strong>&nbsp;The questions of KLEE 2019 will be of objective type having 4 to 5 choices as response of possible right answer.</li>
                      <li><strong>Total Marks –</strong>&nbsp;The total marks allotted for <b>KLEEE 2019&nbsp;</b>is 600.</li>
                  </ul>
                  
                  <p>Kerala LLB 5 year 2019 will be of a total 3 hours’ time-span. Besides, the question paper will contain of 200 objective type questions in subjects:</p>
                  
                  <table border="1" cellpadding="1" cellspacing="1">
                      <tbody>
                          <tr>
                              <th>Sections</th>
                              <th>Subject</th>
                              <th>Number of Questions</th>
                              <th>Total Marks</th>
                          </tr>
                          <tr>
                              <td>Part A</td>
                              <td>General English</td>
                              <td>65</td>
                              <td>195</td>
                          </tr>
                          <tr>
                              <td>Part B</td>
                              <td>General Knowledge</td>
                              <td>65</td>
                              <td>195</td>
                          </tr>
                          <tr>
                              <td>Part C</td>
                              <td>Aptitude for Legal Studies</td>
                              <td>70</td>
                              <td>210</td>
                          </tr>
                          <tr>
                              <th colspan="2">Total</th>
                              <td>200</td>
                              <td>600</td>
                          </tr>
                      </tbody>
                  </table>
                  </div></div></div></div>














                

            
        </div>
    </div>
</div>

<!-- Course-area end -->
