  <!-- Course-details-area start -->
  <div class="course-details-area pb-60">
    <!-- Course title -->
    <div class="course-banner bg-img bg-cover pb-5" data-bg-image="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner-content" data-aos="fade-up">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                
                                <li class="breadcrumb-item active" aria-current="page">Course Details</li>
                            </ol>
                        </nav>
                        <h3 class="title mb-15 mt-10">
                            Class8
                        </h3>
                        <p class="text mb-20">
                            What you will learn                            </p>
                        <ul class="list-group list-group-horizontal align-items-center">
                            <li class="d-inline-block">
                                <div class="ratings size-md gap-2">
                                    <span class="badge bg-success size-md">Bestseller</span>
                                    <div class="rate bg-img" data-bg-image="assets/images/rate-star-md.png">
                                        <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star-md.png"></div>
                                    </div>
                                    <span class="ratings-total">(5.0)</span>
                                </div>
                            </li>
                            <li class="d-inline-block icon-start font-sm">
                                <i class="fal fa-user"></i>34k+ Enrolled
                            </li>
                            <li class="d-inline-block icon-start font-sm">
                                <i class="fal fa-book-open"></i>8 Subjects
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
       <!-- course-description -->
       <div class="container">
        <div class="row gx-xl-5">
            <div class="col-lg-8" data-aos="fade-up">
                <!-- course-details-tab -->
                <div class="course-details-tab pt-5">
                    <div class="tabs-navigation mb-40">
                        <ul class="nav nav-tabs" data-hover="fancyHover">
                            <li class="nav-item active">
                                <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Overview</button>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="tab-content">
                        <!-- Overview -->
                        <div class="tab-pane slide slide show active" id="tab1">
                            <div class="content pb-20">
                                <p class="text">
                                    Class 8 is an important year for students to learn basic concepts that will help them in higher classes. The Central Board of Secondary Education (CBSE) syllabus for Class 8 is similar to the NCERT curriculum and includes the following subjects: Hindi, English, Mathematics, Social Science, and Science and Technology.
                                </p>
                                <div class="row gl-xl-5 mt-20">
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                       
                        <!-- Review -->
                        <div class="tab-pane slide" id="tab5">
                            <div class="review-progresses p-30 radius-md border mb-40">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-30">
                                    <h4 class="mb-0">Total Reviews Status</h4>
                                    <div class="ratings size-md">
                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star-md.png">
                                            <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star-md.png"></div>
                                        </div>
                                        <span class="ratings-total">(4.5)</span>
                                    </div>
                                </div>
                              
                                <div class="review-list mb-30 border radius-md">
                                    <div class="review-item p-30">
                                        <div class="review-header flex-wrap mb-20">
                                            <div class="author d-flex align-items-center justify-content-between gap-3">
                                                <div class="author-img">
                                                    <a href="error-404.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 rounded-circle">
                                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/avatar-2.jpg" alt="Avatar">
                                                    </a>
                                                </div>
                                                <div class="author-info">
                                                    <h6 class="mb-1">
                                                        <a href="error-404.html" target="_self" title="Link">Johnny Ben</a>
                                                    </h6>
                                                    <div class="ratings mb-1">
                                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star.png">
                                                             <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star.png"></div>
                                                        </div>
                                                        <span class="ratings-total">(4.5)</span>
                                                     </div>
                                                    <span class="font-xsm icon-start">
                                                        <span class="color-green">
                                                            <i class="fas fa-badge-check"></i>
                                                        </span>
                                                        Verified User
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start">
                                                    <i class="fal fa-map-marker-alt"></i>
                                                    Los Angela's, USA
                                                </div>
                                                <div class="icon-start">
                                                    <i class="fal fa-clock"></i>
                                                    04 Days ago
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="lc-1">Ana Studios was very logical and creative at the same time</h4>
                                        <p>The client received excellent feedback on DePalma Studios’ designs due to
                                            their website's improved look and feel. The team was very communicative and
                                            collaborative, and they demonstrated a unique understanding of the client’s
                                            requirements, providing very.
                                        </p>
                                    </div>
                                    <div class="review-reply bg-light border-top p-30">
                                        <div class="review-header flex-wrap mb-20 d-flex align-items-center justify-content-between gap-3">
                                            <div class="author d-flex align-items-center gap-2">
                                                <div class="icon"><i class="fal fa-reply-all"></i></div>
                                                <h6 class="mb-0">Reply from Ana Rita Pailo</h6>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start"><i class="fal fa-clock"></i>04 Days ago</div>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <p>Hi Thomas,</p>
                                            <p>I can see that we screwed up in our communication with you, and for that
                                                I sincerely apologize!</p>
                                            <p>I just re-read the email chain with Sven and I can see that we dropped
                                                the ball in of our explanation of how we work. I think there were
                                                several miscommunications that happened here, which I take full
                                                responsibility for.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pagination -->
                                <nav class="pagination-nav mb-30">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Previous">
                                                <i class="far fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="courses.html">1</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">2</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Next">
                                                <i class="far fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up">
                <aside class="widget-area bg-white shadow-md radius-md">
                    <div class="widget widget-enroll p-25">
                        <figure class="course-img">
                            
                                <img class="lazyload" src="assets/images/class8.png" alt="class-6">
                                
                              
                               
                      
                            <div class="social-link rounded justify-content-center mt-20 pt-20 border-top">
                                <div class="course-price mt-15">
                                    <h4 class="new-price">Class 8</h4>
                                </div>
                                
                            </div>
                        </figure>
                        <div class="course-price mt-15">
                            <h4 class="new-price">₹ 10,000</h4>
                            <span class="prev-price">₹ 28,999</span>
                        </div>
                        <div class="btn-groups mt-15">
                            <a href="#" class="btn btn-lg btn-outline radius-sm w-100" title="Buy Now" target="_self">Buy Now</a>
                        </div>
                        <div class="icon-start text-center mt-10 font-sm">
                            <span>30-Day Money-Back Guarantee</span>
                        </div>
                        <ul class="toggle-list list-unstyled mt-20" id="toggleList" data-toggle-show="5">
                            <li class="icon-start">
                                <span>
                                    <i class="fal fa-clock"></i>
                                    <span class="name">Duration :</span>
                                </span>
                                <span>14h 24m 30s</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                    <i class="fal fa-user"></i>
                                    <span class="name">Total Enrolled :</span>
                                </span>
                                <span>23</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                    <i class="fal fa-signal-alt-3"></i>
                                    <span class="name">Course Label :</span>
                                </span>
                                <span>Advance</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                    <i class="fal fa-file-certificate"></i>
                                    <span class="name">Certificate:</span>
                                </span>
                                <span>Yes</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                    <i class="fal fa-globe"></i>
                                    <span class="name">Language:</span>
                                </span>
                                <span>English</span>
                            </li>
                        </ul>
                       
                        <div class="social-link rounded justify-content-center mt-20 pt-20 border-top">
                          
                            
                        </div>
                    </div>
                </aside>
               
        </div>
    </div>
</div>


<!-- Course-details-area start -->


<section class="course-area latest ptb-100">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title title-inline mb-30" data-aos="fade-up">
                <h2 class="title mb-20">
                    What you'll <span>Learn </span>
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                
            </div>
        </div>
        <div class="col-12">
            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane slide show active" id="tab1">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="/class-8/syllabus" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Maths.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="/class-8/syllabus" target="_self" title="Link">
                                                Maths
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="/class-8/syllabus"> Syllabus </a><i class="fas fa-long-arrow-right"></i></span>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="/class-8/syllabus" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Physics.jpg" alt="course">
                                    </a>
                                    
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="/class-8/syllabus" target="_self" title="Link">
                                               Physics
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="/class-8/syllabus"> Syllabus </a><i class="fas fa-long-arrow-right"></i></span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="/class-8/syllabus" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Chemistry.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="/class-8/syllabus" target="_self" title="Link">
                                                Chemistry
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="/class-8/syllabus"> Syllabus </a><i class="fas fa-long-arrow-right"></i></span>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="/class-8/syllabus" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Biology.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="/class-8/syllabus" target="_self" title="Link">
                                               Biology
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="/class-8/syllabus"> Syllabus </a><i class="fas fa-long-arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="class6-syllabus.html" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/english.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                English
                                            </a>
                                        </h6>
                                        <div class="authors mt-15">
                                            <div class="author">
                                                
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="/class-8/syllabus"> Syllabus </a><i class="fas fa-long-arrow-right"></i></span>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="/class-8/syllabus" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/telugu.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Telugu
                                            </a>
                                        </h6>
                                        <div class="authors mt-15">
                                            <div class="author">
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="/class-8/syllabus"> Syllabus </a><i class="fas fa-long-arrow-right"></i></span>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                      



                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="/class-8/syllabus" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/hindi.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Hindi
                                            </a>
                                        </h6>
                                        <div class="authors mt-15">
                                            <div class="author">
                                                
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="/class-8/syllabus"> Syllabus </a><i class="fas fa-long-arrow-right"></i></span>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                      




                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="/class-8/syllabus" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/social.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Social
                                            </a>
                                        </h6>
                                        <div class="authors mt-15">
                                            <div class="author">
                                                

                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="/class-8/syllabus"> Syllabus </a><i class="fas fa-long-arrow-right"></i></span>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                     






                </div>
            </div>
        </div>
    </div>
</div>


<!-- Course-area end -->