<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Class 6 Syllabus</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item active" aria-current="page"></li><br>
                    <p>  Learn for CBSE, ICSE, Andhra Pradesh, Telangana, other school boards along with Olympiads and Competitive exams.
                    </p>
                </ol>   
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->






  <!-- course-description -->
  <div class="container">
    <div class="row gx-xl-5">
        <div class="col-lg-12" data-aos="fade-up">
            <!-- course-details-tab -->
            <div class="course-details-tab pt-10">
                <div class="tabs-navigation mb-40">
                    <ul class="nav nav-tabs" data-hover="fancyHover">
                        <li class="nav-item active">
                            <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Maths</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab2" type="button">Physics</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab3" type="button">Chemistry </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab4" type="button">Biology</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab5" type="button">English</button>
                        </li>


                        
                        
                    </ul>
                </div>
                <div class="tab-content">
                    <!-- Overview -->
                    <div class="tab-pane slide slide show active" id="tab1">
                        <div class="content pb-20">
                            <h5 class="title mb-20">What you'll learn</h5>
                          
                            <div class="row gl-xl-5 mt-20">
                                <div class="col-lg-6">
                                    <ol>
                                        <li>Knowing Our Numbers</li>
                                        <li>Whole Numbers</li>
                                        <li>Playing with Numbers</li>
                                        <li>Basic Geometrical Ideas</li>
                                        <li>Understanding Elementary Shapes</li>
                                        <li>Integers</li>
                                        <li>Fractions</li>
                                        <li>Decimals</li>
                                        <li>Data Handling</li>
                                        <li>Mensuration</li>
                                        <li>Algebra</li>  
                                        <li>Ratio and Proportion</li>
                                        <li>Symmetry</li>
                                        <li>Practical Geometry</li>
                                        <li>KNOWING OUR NUMBERS</li>
                                        <li>WHOLE NUMBERS</li>
                                        <li>PLAYING WITH NUMBERS</li>
                                        <li>BASIC GEOMETRICAL IDEAS</li>
                                        <li>MEASURES OF LINES AND ANGLES</li>
                                        <li>INTEGERS</li>
                                        <li>FRACTIONS AND DECIMALS</li>
                                        <li>DATA HANDLING</li>
                                        <li>INTRODUCTION TO ALGEBRA</li>
                                        <li>PERIMETER AND AREA</li>
                                        <li>RATIO AND PROPORTION</li>
                                        <li>SYMMETRY</li>
                                        <li>PRACTICAL GEOMETRY</li>
                                        <li>UNDERSTANDING 3D AND 2D SHAPES</li>
                                      </ol>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="info-list list-unstyled mb-20">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260"src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                    
                                </div>
                            </div>
                
                    <!-- Course content -->
                    <div class="tab-pane slide" id="tab2">
                        <div class="accordion pb-20" id="courseAccordion">
                            <h5 class="title mb-20">What you'll learn</h5>
                             <div class="row gl-xl-5 mt-20">
                                <div class="col-lg-6">
                                    <ol>
                                        <li>Motion and Measurement of Distances</li>
                                        <li>Light, Shadows and Reflections</li>
                                        <li>Electricity and Circuits</li>
                                        <li>Fun With Magnets</li>
                                        <li>PLAYING WITH MAGNETS</li>
                                        <li>SIMPLE ELECTRIC CIRCUITS</li>
                                        <li>LEARNING HOW TO MEASURE</li>
                                        <li>LIGHT, SHADOW AND IMAGES</li>                                        
                                      </ol>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="info-list list-unstyled mb-20">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                        
                                            <div class="course-details">
                                    
                                </div>
                            </div>
                        
                    
                    <!-- Details -->
                    <div class="tab-pane" id="tab3">
                        <div class="content pb-20">
                            <h5 class="title mb-20">What you'll learn</h5>
                            <div class="row gl-xl-5 mt-20">
                                <div class="col-lg-6">
                                    <ol>
                                        <li>Fibre to Fabric</li>
                                        <li>Sorting Materials into Groups</li>
                                        <li>Separation of Substances</li>
                                        <li>Changes Around Us</li>
                                        <li>Air Around Us</li>
                                        <li>RAIN: WHERE DOES IT COME FROM</li>
                                        <li>MATERIALS AND THINGS</li>
                                        <li> SEPARATION OF SUBSTANCES</li>
                                        <li>FIBER TO FABRIC</li>
                                        <li>CHANGES AROUND USn</li>
                                        <li>WATER IN OUR LIFE</li>  
                                        <li>LIVING AND NON-LIVING</li>

                                      </ol>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="info-list list-unstyled mb-20">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                        
                                            <div class="course-details">
                                    
                                </div>
                            </div>
                        
                    
                    <!-- Instructor -->
                    <div class="tab-pane slide" id="tab4">
                        <div class="mentor mb-40">
                            <div class="mentor-info">
                                <div class="mentor-img">
                                    <h5 class="title mb-20">What you'll learn</h5>
                                    <div class="row gl-xl-5 mt-20">
                                        <div class="col-lg-6">
                                            <ol>
                                                <li>Food</li>
                                                <li>Components of Food</li>
                                                <li>Getting to Know plants</li>
                                                <li>Body Movements</li>
                                                <li>The living organisms and their surrounding</li>
                                                <li>Garbage In & Garbage Out</li>
                                                <li>Water</li>
                                                <li>OUR FOOD</li>
                                                <li>WHAT DO ANIMALS EAT</li>
                                                <li>HABITAT</li>
                                                <li>PLANTS: PARTS AND FUNCTIONS</li>  
                                                <li>MOVEMENTS IN ANIMALS</li>  





                                              </ol>
                                        </div>
                                        <div class="col-lg-6">
                                            <ul class="info-list list-unstyled mb-20">
                                                <li><div class="course-default border radius-md mb-30">
                                                    <figure class="course-img">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                       
                                                
                                                    <div class="course-details">    
                                                <li><div class="course-default border radius-md mb-30">
                                                    <figure class="course-img">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                       
                                                    
                                                    <div class="course-details">
                                                <li><div class="course-default border radius-md mb-30">
                                                    <figure class="course-img">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                       
                                                            
                                                    <div class="course-details">
                                            
                                        </div>
                                    </div>
                                
                 
                    <!-- Review -->
                    <div class="tab-pane slide" id="tab5">
                        <h5 class="title mb-20">What you'll learn</h5>
                                <div class="row gl-xl-5 mt-20">
                                    <div class="col-lg-6">
                                        <ol>
                                            <li>Categories of computers</li>
                                            <li>Computer Languages</li>
                                            <li>File Management-Organisation of Data</li>
                                            <li>Word Processor-Tabular Presentation</li>
                                            <li>Word Processor-Mail Merge</li>
                                            <li>Presentation-Visual Effects</li>
                                            <li>Scratch Programming -Introduction to Game Creation</li>
                                            <li>HTML- An Introduction</li>
                                            <li>Internet-Online Surfing</li>



                                          </ol>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list list-unstyled mb-20">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                        
                                    </div>
                                </div>



<!-- course-description -->
<div class="container">
<div class="row gx-xl-5">
    <div class="col-lg-12" data-aos="fade-up">
        <!-- course-details-tab -->
        <div class="course-details-tab pt-10">
            <div class="tabs-navigation mb-40">
                <ul class="nav nav-tabs" data-hover="fancyHover">
                    <li class="nav-item active">
                        <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab6" type="button">Telugu</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab7" type="button">Hindi</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab8" type="button">Social </button>
                    </li>

                </ul>
            </div>
            <div class="tab-content">
                <!-- Overview -->
                <div class="tab-pane slide slide show active" id="tab6">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                      
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Knowing Our Numbers</li>
                                    <li>Whole Numbers</li>
                                    <li>Playing with Numbers</li>
                                    <li>Basic Geometrical Ideas</li>
                                    <li>Understanding Elementary Shapes</li>
                                    <li>Integers</li>
                                    <li>Fractions</li>
                                    <li>Decimals</li>
                                    <li>Data Handling</li>
                                    <li>Mensuration</li>
                                    <li>Algebra</li>  
                                    <li>Ratio and Proportion</li>
                                    <li>Symmetry</li>
                                    <li>Practical Geometry</li>
                                    <li>KNOWING OUR NUMBERS</li>
                                    <li>WHOLE NUMBERS</li>
                                    <li>PLAYING WITH NUMBERS</li>
                                    <li>BASIC GEOMETRICAL IDEAS</li>
                                    <li>MEASURES OF LINES AND ANGLES</li>
                                    <li>INTEGERS</li>
                                    <li>FRACTIONS AND DECIMALS</li>
                                    <li>DATA HANDLING</li>
                                    <li>INTRODUCTION TO ALGEBRA</li>
                                    <li>PERIMETER AND AREA</li>
                                    <li>RATIO AND PROPORTION</li>
                                    <li>SYMMETRY</li>
                                    <li>PRACTICAL GEOMETRY</li>
                                    <li>UNDERSTANDING 3D AND 2D SHAPES</li>
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260"src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                       
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                            
                            </div>
                        </div>
                    
                
                <!-- Course content -->
                <div class="tab-pane slide" id="tab7">
                    <div class="accordion pb-20" id="courseAccordion">
                        <h5 class="title mb-20">What you'll learn</h5>
                         <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Motion and Measurement of Distances</li>
                                    <li>Light, Shadows and Reflections</li>
                                    <li>Electricity and Circuits</li>
                                    <li>Fun With Magnets</li>
                                    <li>PLAYING WITH MAGNETS</li>
                                    <li>SIMPLE ELECTRIC CIRCUITS</li>
                                    <li>LEARNING HOW TO MEASURE</li>
                                    <li>LIGHT, SHADOW AND IMAGES</li>                                        
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    
                <!-- Details -->
                <div class="tab-pane" id="tab8">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Fibre to Fabric</li>
                                    <li>Sorting Materials into Groups</li>
                                    <li>Separation of Substances</li>
                                    <li>Changes Around Us</li>
                                    <li>Air Around Us</li>
                                    <li>RAIN: WHERE DOES IT COME FROM</li>
                                    <li>MATERIALS AND THINGS</li>
                                    <li> SEPARATION OF SUBSTANCES</li>
                                    <li>FIBER TO FABRIC</li>
                                    <li>CHANGES AROUND USn</li>
                                    <li>WATER IN OUR LIFE</li>  
                                    <li>LIVING AND NON-LIVING</li>

                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                    
                                        <div class="course-details">
                                
                            </div>
                        </div>

            
            <!-- Spacer -->
            <div class="pb-40"></div>
<!-- Course-details-area start -->


<!-- Shapes -->
<div class="shape">
    <img class="shape-1 lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/shape-4.png" alt="Shape">
    <img class="shape-2 lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/shape-6.png" alt="Shape">
    <img class="shape-3 lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/shape-2.png" alt="Shape">
    <img class="shape-4 lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/shape-1.png" alt="Shape">
</div>
<!-- Course-area end -->
