<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Class7 Syllabus</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item active" aria-current="page"></li><br>
                    <p> Learn for CBSE, ICSE, Andhra Pradesh, Telangana, other school boards along with Olympiads and Competitive exams.
                    </p>
                </ol>   
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->




<!-- course-description -->
<div class="container">
<div class="row gx-xl-5">
    <div class="col-lg-12" data-aos="fade-up">
        <!-- course-details-tab -->
        <div class="course-details-tab pt-5">
            <div class="tabs-navigation mb-40">
                <ul class="nav nav-tabs" data-hover="fancyHover">
                    <li class="nav-item active">
                        <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Maths</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab2" type="button">Physics</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab3" type="button">Chemistry </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab4" type="button">Biology</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab5" type="button">English</button>
                    </li>

                   
                




                </ul>
            </div>
            <div class="tab-content">
                <!-- Overview -->
                <div class="tab-pane slide slide show active" id="tab1">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                      
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Integers</li>
                                    <li>Fractions and Decimal Numbers</li>
                                    <li>Data Handling</li>
                                    <li>Simple Equations</li>
                                    <li>Lines and Angles</li>
                                    <li>Triangles and its Properties</li>
                                    <li>Congruence of Triangles</li>
                                    <li>Comparing Quantities</li>
                                    <li>Rational Numbers</li>
                                    <li>Practical Geometry</li>
                                    <li>Perimeter and Area</li>
                                    <li>Algebraic Expressions</li>
                                    <li>Exponents and Powers</li>
                                    <li>Symmetry</li>
                                    <li>Visualising Solid Shapes</li>
                                    <li>INTEGERS</li>
                                    <li>FRACTIONS,DECIMALS AND RATIONAL NUMBERS</li>
                                    <li>SIMPLE EQUATIONS</li>
                                    <li>LINES AND ANGLES</li>
                                    <li>TRIANGLE AND ITS PROPERTIES</li>
                                    <li>RATIO-APPLICATIONS</li>
                                    <li>DATA HANDLING</li>
                                    <li>CONGRUENCY OF TRIANGLES</li>
                                    <li>CONSTRUCTION OF TRIANGLES</li>
                                    <li>ALGEBRAIC EXPRESSIONS</li>
                                    <li>POWER AND EXPONENTS</li>
                                    <li>QUADRILATERALS</li>
                                    <li>AREA AND PERIMETER</li>
                                    <li>UNDERSTANDING 3D AND 2D SHAPES</li>
                                    <li>SYMMETRY</li>
                                  </ol>


                                  


                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                            
                            </div>
                        </div>
                    
                
                <!-- Course content -->
                <div class="tab-pane slide" id="tab2">
                    <div class="accordion pb-20" id="courseAccordion">
                        <h5 class="title mb-20">What you'll learn</h5>
                         <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                        <li>Heat</li>
                                    <li> Motion and Time</li>
                                <li> Light</li>
                            <li>   Electric Current and its Effects</li>
                        <li> Winds, Storms and Cyclones</li>
                    <li>         MOTION AND TIME</li>
                <li>  HEAT AND MEASUREMENT</li>
            <li>   ELECTRICITY</li>
        <li>      AIR WIND AND CYCLONE</li>
    <li>       REFLECTION OF LIGHT </li>                                      
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                       
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                    
                                        <div class="course-details">
                            
                            </div>
                        </div>

                <!-- Details -->
                <div class="tab-pane" id="tab3">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                                    <li>Fibre to Fabric</li>
                                                <li>  Physical and Chemical Changes</li>
                                            <li> Acids, Bases and Salts</li>
                                        <li>  ACIDS AND BASES</li>
                                    <li>   ANIMAL FIBER</li>
                                <li>  WATER</li>
                            <li>   SOIL: OUR LIFE</li>
                        <li>   FOREST: OUR LIFE</li>
                    <li>   CHANGES AROUND US</li>

                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                    
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    
                
                <!-- Instructor -->
                <div class="tab-pane slide" id="tab4">
                    <div class="mentor mb-40">
                        <div class="mentor-info">
                            <div class="mentor-img">
                                <h5 class="title mb-20">What you'll learn</h5>
                                <div class="row gl-xl-5 mt-20">
                                    <div class="col-lg-6">
                                        <ol>
                                           <li>  Nutrition in Plants</li>
                                           <li> Nutrition in Animals</li>
                                            <li> Weather, Climate and Adaptations of Animals to Climate</li>
                                            <li> Water: A Precious Resource</li>
                                                        <li> Respiration in Organisms</li>
                                                    <li> Soil</li>
                                                <li>  Forests: Our Lifeline</li>
                                            <li> Transportation in Plants and Animals</li>
                                        <li>   Wastewater Story</li>
                                    <li>Reproduction in Plants</li>
                                <li>  NUTRITION IN PLANTS</li>
                            <li>  WEATHER AND CLIMATE</li>
                        <li>  FOOD COMPONENTS</li>
                    <li> RESPIRATION IN ORGANISMS</li>
                <li>   REPRODUCTION IN PLANTS</li>
                <li>    SEED DISPERSAL</li>





                                          </ol>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list list-unstyled mb-20">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                        
                                    </div>
                                </div>
             
                
                <!-- Review -->
                <div class="tab-pane slide" id="tab5">
                    <h5 class="title mb-20">What you'll learn</h5>
                            <div class="row gl-xl-5 mt-20">
                                <div class="col-lg-6">
                                    <ol>
                                       <li> Computer-Hardware Components</li>
                                    <li>  Number Systems -An Introduction</li>
                                <li>  Computer Virus</li>
                            <li>  Ethics and Safety Measures in Computing</li>
                        <li>  Spreadsheets -An Introduction</li>
                    <li>  Database and DBMS -An Introduction</li>
                <li>  HTML-Advanced Features</li>



                                      </ol>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="info-list list-unstyled mb-20">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                        <li><div class="course-default border radius-md mb-30">
                                            <figure class="course-img">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                               
                                            
                                            <div class="course-details">
                                    
                                </div>
                            </div>

  
<!-- course-description -->
<div class="container">
<div class="row gx-xl-5">
    <div class="col-lg-12" data-aos="fade-up">
        <!-- course-details-tab -->
        <div class="course-details-tab pt-10">
            <div class="tabs-navigation mb-40">
                <ul class="nav nav-tabs" data-hover="fancyHover">
                    <li class="nav-item active">
                        <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab6" type="button">Telugu</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab7" type="button">Hindi</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab8" type="button">Social </button>
                    </li>

                </ul>
            </div>
            <div class="tab-content">
                <!-- Overview -->
                <div class="tab-pane slide slide show active" id="tab6">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                      
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Knowing Our Numbers</li>
                                    <li>Whole Numbers</li>
                                    <li>Playing with Numbers</li>
                                    <li>Basic Geometrical Ideas</li>
                                    <li>Understanding Elementary Shapes</li>
                                    <li>Integers</li>
                                    <li>Fractions</li>
                                    <li>Decimals</li>
                                    <li>Data Handling</li>
                                    <li>Mensuration</li>
                                    <li>Algebra</li>  
                                    <li>Ratio and Proportion</li>
                                    <li>Symmetry</li>
                                    <li>Practical Geometry</li>
                                    <li>KNOWING OUR NUMBERS</li>
                                    <li>WHOLE NUMBERS</li>
                                    <li>PLAYING WITH NUMBERS</li>
                                    <li>BASIC GEOMETRICAL IDEAS</li>
                                    <li>MEASURES OF LINES AND ANGLES</li>
                                    <li>INTEGERS</li>
                                    <li>FRACTIONS AND DECIMALS</li>
                                    <li>DATA HANDLING</li>
                                    <li>INTRODUCTION TO ALGEBRA</li>
                                    <li>PERIMETER AND AREA</li>
                                    <li>RATIO AND PROPORTION</li>
                                    <li>SYMMETRY</li>
                                    <li>PRACTICAL GEOMETRY</li>
                                    <li>UNDERSTANDING 3D AND 2D SHAPES</li>
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260"src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                    
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                    
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    
                
                <!-- Course content -->
                <div class="tab-pane slide" id="tab7">
                    <div class="accordion pb-20" id="courseAccordion">
                        <h5 class="title mb-20">What you'll learn</h5>
                         <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Motion and Measurement of Distances</li>
                                    <li>Light, Shadows and Reflections</li>
                                    <li>Electricity and Circuits</li>
                                    <li>Fun With Magnets</li>
                                    <li>PLAYING WITH MAGNETS</li>
                                    <li>SIMPLE ELECTRIC CIRCUITS</li>
                                    <li>LEARNING HOW TO MEASURE</li>
                                    <li>LIGHT, SHADOW AND IMAGES</li>                                        
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    
            
                <!-- Details -->
                <div class="tab-pane" id="tab8">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Fibre to Fabric</li>
                                    <li>Sorting Materials into Groups</li>
                                    <li>Separation of Substances</li>
                                    <li>Changes Around Us</li>
                                    <li>Air Around Us</li>
                                    <li>RAIN: WHERE DOES IT COME FROM</li>
                                    <li>MATERIALS AND THINGS</li>
                                    <li> SEPARATION OF SUBSTANCES</li>
                                    <li>FIBER TO FABRIC</li>
                                    <li>CHANGES AROUND USn</li>
                                    <li>WATER IN OUR LIFE</li>  
                                    <li>LIVING AND NON-LIVING</li>

                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                    
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                
                            </div>
                        </div>
                    








        <!-- Spacer -->
        <div class="pb-40"></div>
    
<!-- Course-details-area start -->
