<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/robotics-breadcrumb.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Robotics With AI</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item active" aria-current="page">Robotics</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->

   <!-- content-area start -->
   <div class="course-area pt-60 pb-75">
    <div class="container">
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="assets/images/robotics/robotics-ai.jpg">
                    </div>
                    <div class="col-md-6">
                        <h4>Robotics With AI</h4>
                    <p class="text-muted">
                        
                        Robotics is a separate entity in Artificial Intelligence that helps study the creation of intelligent robots or machines. Robotics combines electrical engineering, mechanical engineering and computer science & engineering as they have mechanical construction, electrical component and programmed with programming language. Although, Robotics and Artificial Intelligence both have different objectives and applications, but most people treat robotics as a subset of Artificial Intelligence (AI). Robot machines look very similar to humans, and also, they can perform like humans, if enabled with AI.
                        
                    </p>
                    </div>
                </div>


        
    </div>
</div>
<!-- content-area end -->