 <!-- Breadcrumb start -->
 <div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Primary</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item active" aria-current="page">Third Grade</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->




<!-- Learn-details-area start -->


<section class="course-area latest ptb-100">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title title-inline mb-30" data-aos="fade-up">
                <h2 class="title mb-20">
                    What you'll <span>Learn </span>
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                
            </div>
        </div>
        <div class="col-12">
            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane slide show active" id="tab1">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="Thirdgrade-videos.html" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/grade-syllabus/videos.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="Thirdgrade-videos.html" target="_self" title="Link">
                                                Videos
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="Thirdgrade-videos.html"> View </a><i class="fas fa-long-arrow-right"></i></span>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/grade-syllabus/exams.jpg" alt="course">
                                    </a>
                                    
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                               Exams
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="#"> View </a><i class="fas fa-long-arrow-right"></i></span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="worksheet-thirdgrade.html" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="#" data-src="assets/images/grade-syllabus/worksheets.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="worksheet-thirdgrade.html" target="_self" title="Link">
                                                Worksheets
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        <span class="font-sm"><a href="worksheet-thirdgrade.html"> View </a><i class="fas fa-long-arrow-right"></i></span>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
      
                      
                      



                </div>
            </div>
        </div>
    </div>
</div>

<!-- Learn-area end -->