 <!-- Breadcrumb start -->
 <div class="breadcrumb-area bg-img bg-cover" data-bg-image="assets/images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>Class10 Syllabus</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item active" aria-current="page"></li><br>
                    <p> Learn for CBSE, ICSE, Andhra Pradesh, Telangana, other school boards along with Olympiads and Competitive exams.
                    </p>
                </ol>   
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->






<!-- course-description -->
<div class="container">
<div class="row gx-xl-5">
    <div class="col-lg-12" data-aos="fade-up">
        <!-- course-details-tab -->
        <div class="course-details-tab pt-5">
            <div class="tabs-navigation mb-40">
                <ul class="nav nav-tabs" data-hover="fancyHover">
                    <li class="nav-item active">
                        <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Maths</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab2" type="button">Physics</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab3" type="button">Chemistry </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab4" type="button">Biology</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab5" type="button">English</button>
                    </li>




                </ul>
            </div>
            <div class="tab-content">
                <!-- Overview -->
                <div class="tab-pane slide slide show active" id="tab1">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                      
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Real Numbers</li>
                                <li>Polynomials</li>
                                <li>Pair of Linear Equations in Two Variables</li>
                                <li>Quadratic Equations</li>
                                <li>Arithmetic Progressions</li>
                                <li>Triangles</li>
                                <li>Coordinate Geometry</li>
                                <li>Introduction to Trigonometry</li>
                                <li>Some Applications of Trigonometry</li>
                                <li>Circles</li>
                                <li>Constructions</li>
                                <li>Areas Related to Circles</li>
                                <li>Surface Areas and Volumes</li>
                                <li>Statistics</li>
                                <li>Probability</li>
                                <li>REAL NUMBERS</li>
                                <li>SETS</li>
                                <li>POLYNOMIALS</li>
                                <li>PAIR OF LINEAR EQUATIONS IN TWO VARIABLES</li>
                                <li>QUADRATIC EQUATIONS</li>
                                <li>PROGRESSIONS</li>
                                <li>COORDINATE GEOMETRY</li>
                                <li>SIMILAR TRIANGLES</li>
                                <li>TANGENTS AND SECANTS TO A CIRCLE</li>
                                <li>MENSURATION</li>
                                <li>TRIGONOMETRY</li>
                                <li>APPLICATIONS OF TRIGONOMETRY</li>
                                <li>PROBABILITY</li>
                                <li>STATISTICS</li>
                                  </ol>


                                  


                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                            
                            </div>
                        </div>
                    
                <!-- Course content -->
                <div class="tab-pane slide" id="tab2">
                    <div class="accordion pb-20" id="courseAccordion">
                        <h5 class="title mb-20">What you'll learn</h5>
                         <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Natural Phenomena</li>
                                <li>Effects of Current</li>
                                <li>Sources of Energy</li>
                                <li>Magnetic Effects of Current</li>
                                <li>HEAT</li>
                                <li>REFLECTION OF LIGHT BY DIFFERENT SURFACES</li>
                                <li>REFRACTION OF LIGHT AT PLANE SURFACES</li>
                                <li>REFRACTION OF LIGHT AT CURVED SURFACES</li>
                                <li>HUMAN EYE AND COLOURFUL WORLD</li>
                                <li>ELECTRIC CURRENT</li>
                                <li>ELECTROMAGNETISM</li>
                                <li>The Human Eye and the Colourful World</li>                         
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        <div class="course-details">
                                
                            </div>
                        </div>
                <!-- Details -->
                <div class="tab-pane" id="tab3">
                    <div class="content pb-20">
                        <h5 class="title mb-20">What you'll learn</h5>
                        <div class="row gl-xl-5 mt-20">
                            <div class="col-lg-6">
                                <ol>
                                    <li>Chemical Substances: Nature and Behaviour</li>
                                <li>Chemical Reactions</li>
                                <li>Acids, Bases, Salts</li>
                                <li>Metals and Nonmetals</li>
                                <li>Carbon Compounds</li>
                                <li>Periodic Classification of Elements</li>
                                <li>CHEMICAL REACTIONS AND EQUATIONS</li>
                                <li>ACID BASES AND SALTS</li>
                                <li>STRUCTURE OF ATOM</li>
                                <li>CLASSIFICATION OF ELEMENTS-THE PERIODIC TABLLE</li>
                                <li>CHEMICAL BONDING</li>
                                <li>PRINCIPLES OF METALLURGY</li>
                                <li>CARBON AND ITS COMPOUNDS</li>
                                  </ol>
                            </div>
                            <div class="col-lg-6">
                                <ul class="info-list list-unstyled mb-20">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        
                                        <div class="course-details">
                                    <li><div class="course-default border radius-md mb-30">
                                        <figure class="course-img">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                           
                                        <div class="course-details">
                            </div>
                        </div>
                <!-- Instructor -->
                <div class="tab-pane slide" id="tab4">
                    <div class="mentor mb-40">
                        <div class="mentor-info">
                            <div class="mentor-img">
                                <h5 class="title mb-20">What you'll learn</h5>
                                <div class="row gl-xl-5 mt-20">
                                    <div class="col-lg-6">
                                        <ol>
                                            <li>World of Living, life Processes</li>
                                        <li>Control and Coordination in Animals and Plants</li>
                                        <li>Reproduction</li>
                                        <li>Heredity and Evolution</li>
                                        <li>Our Environment</li>
                                        <li>Management of Natural Resources</li>
                                        <li>NUTRITION</li>
                                        <li>RESPIRATION</li>
                                        <li>TRANSPORTATION</li>
                                        <li>EXCRETION</li>
                                        <li>COORDINATION</li>
                                        <li>REPRODUCTION</li>
                                        <li>COORDINATION IN LIFE PROCESSES</li>
                                        <li>HEREDITY</li>
                                        <li>OUR ENVIRONMENT</li>
                                        <li>NATURAL RESOURCES</li>





                                          </ol>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list list-unstyled mb-20">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                    
                                    </div>
                                </div>
              



                <div class="tab-pane slide" id="tab5">
                    <div class="mentor mb-40">
                        <div class="mentor-info">
                            <div class="mentor-img">
                                <h5 class="title mb-20">What you'll learn</h5>
                                <div class="row gl-xl-5 mt-20">
                                    <div class="col-lg-6">
                                        <ol>
                                            <li>World of Living, life Processes</li>
                                        <li>Control and Coordination in Animals and Plants</li>
                                        <li>Reproduction</li>
                                        <li>Heredity and Evolution</li>
                                        <li>Our Environment</li>
                                        <li>Management of Natural Resources</li>
                                        <li>NUTRITION</li>
                                        <li>RESPIRATION</li>
                                        <li>TRANSPORTATION</li>
                                        <li>EXCRETION</li>
                                        <li>COORDINATION</li>
                                        <li>REPRODUCTION</li>
                                        <li>COORDINATION IN LIFE PROCESSES</li>
                                        <li>HEREDITY</li>
                                        <li>OUR ENVIRONMENT</li>
                                        <li>NATURAL RESOURCES</li>





                                          </ol>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list list-unstyled mb-20">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                <div class="course-details">
                                        
                                    </div>
                                </div>

    <div class="container">
        <div class="row gx-xl-5">
            <div class="col-lg-12" data-aos="fade-up">
                <!-- course-details-tab -->
                <div class="course-details-tab pt-10">
                    <div class="tabs-navigation mb-40">
                        <ul class="nav nav-tabs" data-hover="fancyHover">
                            <li class="nav-item active">
                                <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab6" type="button">Telugu</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab7" type="button">Hindi</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link hover-effect btn-md rounded-pill" data-bs-toggle="tab" data-bs-target="#tab8" type="button">Social </button>
                            </li>
    
                        </ul>
                    </div>
                    <div class="tab-content">
                        <!-- Overview -->
                        <div class="tab-pane slide slide show active" id="tab6">
                            <div class="content pb-20">
                                <h5 class="title mb-20">What you'll learn</h5>
                              
                                <div class="row gl-xl-5 mt-20">
                                    <div class="col-lg-6">
                                        <ol>
                                            <li>Knowing Our Numbers</li>
                                            <li>Whole Numbers</li>
                                            <li>Playing with Numbers</li>
                                            <li>Basic Geometrical Ideas</li>
                                            <li>Understanding Elementary Shapes</li>
                                            <li>Integers</li>
                                            <li>Fractions</li>
                                            <li>Decimals</li>
                                            <li>Data Handling</li>
                                            <li>Mensuration</li>
                                            <li>Algebra</li>  
                                            <li>Ratio and Proportion</li>
                                            <li>Symmetry</li>
                                            <li>Practical Geometry</li>
                                            <li>KNOWING OUR NUMBERS</li>
                                            <li>WHOLE NUMBERS</li>
                                            <li>PLAYING WITH NUMBERS</li>
                                            <li>BASIC GEOMETRICAL IDEAS</li>
                                            <li>MEASURES OF LINES AND ANGLES</li>
                                            <li>INTEGERS</li>
                                            <li>FRACTIONS AND DECIMALS</li>
                                            <li>DATA HANDLING</li>
                                            <li>INTRODUCTION TO ALGEBRA</li>
                                            <li>PERIMETER AND AREA</li>
                                            <li>RATIO AND PROPORTION</li>
                                            <li>SYMMETRY</li>
                                            <li>PRACTICAL GEOMETRY</li>
                                            <li>UNDERSTANDING 3D AND 2D SHAPES</li>
                                          </ol>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list list-unstyled mb-20">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260"src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                    
                                    </div>
                                </div>
                        <!-- Course content -->
                        <div class="tab-pane slide" id="tab7">
                            <div class="accordion pb-20" id="courseAccordion">
                                <h5 class="title mb-20">What you'll learn</h5>
                                 <div class="row gl-xl-5 mt-20">
                                    <div class="col-lg-6">
                                        <ol>
                                            <li>Motion and Measurement of Distances</li>
                                            <li>Light, Shadows and Reflections</li>
                                            <li>Electricity and Circuits</li>
                                            <li>Fun With Magnets</li>
                                            <li>PLAYING WITH MAGNETS</li>
                                            <li>SIMPLE ELECTRIC CIRCUITS</li>
                                            <li>LEARNING HOW TO MEASURE</li>
                                            <li>LIGHT, SHADOW AND IMAGES</li>                                        
                                          </ol>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list list-unstyled mb-20">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                      
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                        
                                    </div>
                                </div>
                            
                        
                        <!-- Details -->
                        <div class="tab-pane" id="tab8">
                            <div class="content pb-20">
                                <h5 class="title mb-20">What you'll learn</h5>
                                <div class="row gl-xl-5 mt-20">
                                    <div class="col-lg-6">
                                        <ol>
                                            <li>Fibre to Fabric</li>
                                            <li>Sorting Materials into Groups</li>
                                            <li>Separation of Substances</li>
                                            <li>Changes Around Us</li>
                                            <li>Air Around Us</li>
                                            <li>RAIN: WHERE DOES IT COME FROM</li>
                                            <li>MATERIALS AND THINGS</li>
                                            <li> SEPARATION OF SUBSTANCES</li>
                                            <li>FIBER TO FABRIC</li>
                                            <li>CHANGES AROUND USn</li>
                                            <li>WATER IN OUR LIFE</li>  
                                            <li>LIVING AND NON-LIVING</li>
    
                                          </ol>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list list-unstyled mb-20">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                <div class="course-details">
                                            <li><div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe width="640" height="260" src="https://www.youtube.com/embed/X3yg7ggM9Qg" title="Easy2Learn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                   
                                                
                                                <div class="course-details">
                                        
                                    </div>
                                </div>
                        

        <!-- Spacer -->
        <div class="pb-40"></div>