<!-- Course-details-area start -->
<div class="course-details-area pb-60">
    <!-- Course title -->
    <div class="course-banner bg-img bg-cover pb-5" data-bg-image="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner-content" data-aos="fade-up">
                        <nav aria-label="breadcrumb">
                          
                        </nav>
                        <h3 class="title mb-15 mt-10">
                            An all-India level exam for admission into IITs, NITs, IIITs and some of India’s best engineering colleges.                        </h3>
                        <p class="text mb-20">
                            What you will learn                            </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course-description -->
    <div class="container">
        <div class="row gx-xl-5">
            <div class="col-lg-8" data-aos="fade-up">
                <!-- course-details-tab -->
                <div class="course-details-tab pt-5">
                    <div class="tabs-navigation mb-40">
                        <ul class="nav nav-tabs" data-hover="fancyHover">
                            <li class="nav-item active">
                                <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Overview</button>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="tab-content">
                        <!-- Overview -->
                        <div class="tab-pane slide slide show active" id="tab1">
                            <div class="content pb-20">
                                <p class="text">
                                    The Joint Entrance Examination, JEE (Main) comprises two papers. Paper 1 is conducted for admission to Undergraduate Engineering Programs (B.E/B.Tech.) at NITs, IIITs, other Centrally Funded Technical Institutions (CFTIs), and Institutions/Universities funded/recognized by participating State Governments.                                <div class="row gl-xl-5 mt-20">
                                   
                                   
                                </div>
                            </div>
                        </div>
                        
                       
                        <!-- Review -->
                        <div class="tab-pane slide" id="tab5">
                            <div class="review-progresses p-30 radius-md border mb-40">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-30">
                                    <h4 class="mb-0">Total Reviews Status</h4>
                                    <div class="ratings size-md">
                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star-md.png">
                                            <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star-md.png"></div>
                                        </div>
                                        <span class="ratings-total">(4.5)</span>
                                    </div>
                                </div>
                              
                                <div class="review-list mb-30 border radius-md">
                                    <div class="review-item p-30">
                                        <div class="review-header flex-wrap mb-20">
                                            <div class="author d-flex align-items-center justify-content-between gap-3">
                                                <div class="author-img">
                                                    <a href="error-404.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 rounded-circle">
                                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/avatar-2.jpg" alt="Avatar">
                                                    </a>
                                                </div>
                                                <div class="author-info">
                                                    <h6 class="mb-1">
                                                        <a href="error-404.html" target="_self" title="Link">Johnny Ben</a>
                                                    </h6>
                                                    <div class="ratings mb-1">
                                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star.png">
                                                             <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star.png"></div>
                                                        </div>
                                                        <span class="ratings-total">(4.5)</span>
                                                     </div>
                                                    <span class="font-xsm icon-start">
                                                        <span class="color-green">
                                                            <i class="fas fa-badge-check"></i>
                                                        </span>
                                                        Verified User
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start">
                                                    <i class="fal fa-map-marker-alt"></i>
                                                    Los Angela's, USA
                                                </div>
                                                <div class="icon-start">
                                                    <i class="fal fa-clock"></i>
                                                    04 Days ago
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="lc-1">Ana Studios was very logical and creative at the same time</h4>
                                        <p>The client received excellent feedback on DePalma Studios’ designs due to
                                            their website's improved look and feel. The team was very communicative and
                                            collaborative, and they demonstrated a unique understanding of the client’s
                                            requirements, providing very.
                                        </p>
                                    </div>
                                    <div class="review-reply bg-light border-top p-30">
                                        <div class="review-header flex-wrap mb-20 d-flex align-items-center justify-content-between gap-3">
                                            <div class="author d-flex align-items-center gap-2">
                                                <div class="icon"><i class="fal fa-reply-all"></i></div>
                                                <h6 class="mb-0">Reply from Ana Rita Pailo</h6>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start"><i class="fal fa-clock"></i>04 Days ago</div>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <p>Hi Thomas,</p>
                                            <p>I can see that we screwed up in our communication with you, and for that
                                                I sincerely apologize!</p>
                                            <p>I just re-read the email chain with Sven and I can see that we dropped
                                                the ball in of our explanation of how we work. I think there were
                                                several miscommunications that happened here, which I take full
                                                responsibility for.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pagination -->
                                <nav class="pagination-nav mb-30">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Previous">
                                                <i class="far fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="courses.html">1</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">2</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Next">
                                                <i class="far fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up">
                <aside class="widget-area bg-white shadow-md radius-md">
                    <div class="widget widget-enroll p-25">
                        <figure class="course-img">
                            
                                <img class="lazyload" src="assets/images/exams/jeemain.png" alt="class-6">
                                
                               
                           
                            <div class="social-link rounded justify-content-center mt-20 pt-20 border-top">
                                <div class="course-price mt-15">
                                    <h4 class="new-price">JEE Main
                                    </h4>
                                </div>
                                
                            </div>
                        </figure>
                       
                        
                       
                        <ul class="toggle-list list-unstyled mt-20" id="toggleList" data-toggle-show="5">
                            <li class="icon-start">
                                <span>
                                    
                                    <span class="name">FIELD :</span>
                                </span>
                                <span>Engineering</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                   
                                    <span class="name">ELIGIBILITY :</span>
                                </span>
                                <span>12th Standard<br>
                                    Science Students</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                  
                                    <span class="name">SUBJECTS :</span>
                                </span>
                                <span>Chemistry,Physics, <br>Mathematics</span>
                            </li>
                            
                            <li class="icon-start">
                                <span>
                                    
                                    <span class="name">QUESTIONS TYPE:</span>
                                </span>
                                <span>Objective MCQs</span>
                            </li>
                        </ul>
                       
                       
                    </div>
                </aside>
               
        </div>
    </div>
</div>

<!-- Course-details-area start -->

<!-- Course-details-area start -->


<section class="course-area latest ptb-100">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title title-inline mb-30" data-aos="fade-up">
                <h2 class="title mb-20">
                    Prepare Easy with <span>SRESHTA EDUTECH</span>
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                
            </div>
        </div>
        <div class="col-12">
            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane slide show active" id="tab1">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Videolectures.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Videolectures
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Learn every concept visually for a strong foundation
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/AdaptivePractice.jpg" alt="course">
                                    </a>
                                    
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                AdaptivePractice
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Practice questions which adapt to your own pace
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Livedoubts.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Livedoubts
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Chat with the best teachers to solve your doubts 24x7
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Testseries.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Test Series
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Compete with millions in an exam like environment
                                    </div>
                                </div>
                            </div>
                        </div>
            

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div data-aos="fade-up">
                <h4></h4>
                <h2 class="title mb-20">
                    All you need to know about JEE Main
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                
                <div _ngcontent-c9="" class="col-sm-9  pl-4 "><!--bindings={
                    "ng-reflect-ng-for-of": "[object Object],[object Object"
                  }--><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref34"><h3 _ngcontent-c9="" class="info headding3">What is JEE Main?</h3><div _ngcontent-c9="" class="blog-post "><ul>
                      <li>The Joint Entrance Examination (JEE) is an All-India Common Entrance Exam for getting admissions into engineering colleges across India</li>
                      <li>JEE Main will be conducted twice a year in the month of January and April respectively by National Testing Agency (NTA).</li>
                      <li>It is conducted in two phases: JEE Main and JEE Advanced</li>
                      <li>If you clear the given cut-off for JEE Main, you qualify for JEE Advanced</li>
                      <li>With a JEE Main score you can apply to institutions like NITs, IIITs and other Central or State Funded Institutes</li>
                      <li>Whereas, IITs and ISM, Dhanbad consider results of JEE Advanced for admissions</li>
                      <li>From 2019 the examination will be held only in the computer based mode.</li>
                  </ul>
                  </div></div></div><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref35"><h3 _ngcontent-c9="" class="info headding3">Syllabus for JEE Main</h3><div _ngcontent-c9="" class="blog-post "><p>JEE Main 2019 follows the CBSE prescribed NCERT syllabus. The difficulty level of the examination will also be based on the difficulty level of NCERT.</p>
                  
                  <p><img alt="" height="50px" src="assets/images/chemistry.png" width="50px">&nbsp; <h3><strong>Physics</strong></h3>
                  
                  <ol>
                      <li>Physics and Measurement</li>
                      <li>Kinematics</li>
                      <li>Laws of Motion</li>
                      <li>Work, Energy and Power</li>
                      <li>Rotational Motion</li>
                      <li>Gravitation</li>
                      <li>Properties of Solid and Liquids</li>
                      <li>Thermodynamics</li>
                      <li>Kinetic Theory of Gases</li>
                      <li>Oscillations and Waves</li>
                      <li>Electrostatics</li>
                      <li>Current Electricity</li>
                      <li>Magnetic Effects of Currents and Magnetism</li>
                      <li>Electromagnetic Induction</li>
                      <li>Alternating Currents</li>
                      <li>Electromagnetic Waves</li>
                      <li>Optics</li>
                      <li>Dual Nature of Matter and Radiation</li>
                      <li>Atoms and Nuclei</li>
                      <li>Electronic Devices</li>
                      <li>Communication Systems and Experimental Skills</li>
                  </ol>
                  
                  <p><img alt="" height="50px" src="assets/images/chemistry.png" width="50px"> <h3><strong>Chemistry</strong></h3>
                  
                  <ol>
                      <li>Some Basic Concepts in Chemistry</li>
                      <li>The States of Matter</li>
                      <li>Atomic Structure</li>
                      <li>Chemical Bonding and Molecular Structure</li>
                      <li>Chemical Thermodynamics</li>
                      <li>Solutions</li>
                      <li>Equilibrium</li>
                      <li>Redox Reactions and Electrochemistry</li>
                      <li>Chemical Kinetics</li>
                      <li>Surface Chemistry</li>
                      <li>Classification of Elements and Periodicity in Properties</li>
                      <li>General Principles and Processes of Isolation of Metals</li>
                      <li>Hydrogen</li>
                      <li>s-Block Elements</li>
                      <li>p-Block Elements</li>
                      <li>d- and f-Block Elements</li>
                      <li>Coordination Compounds</li>
                      <li>Environmental Chemistry</li>
                      <li>Purification and Characterisation of Organic Compounds</li>
                      <li>Some Basic Principles of Organic Chemistry</li>
                      <li>Hydrocarbons</li>
                      <li>Organic Compounds Containing Halogens</li>
                      <li>Organic Compounds Containing Oxygen</li>
                      <li>Organic Compounds Containing Nitrogen</li>
                      <li>Polymers</li>
                      <li>Biomolecules</li>
                      <li>Chemistry in Everyday Life</li>
                      <li>Principles Related to Practical Chemistry</li>
                  </ol>
                  
                  <p><img alt="" height="50px" src="assets/images/maths.png" width="50px"> <h3><strong>Maths</strong></h3>
                  
                  <ol>
                      <li>Sets, Relations, and Functions</li>
                      <li>Complex Numbers and Quadratic Equations</li>
                      <li>Matrices and Determinants</li>
                      <li>Permutations and Combinations</li>
                      <li>Mathematical Induction</li>
                      <li>Binomial Theorem and its Simple Applications</li>
                      <li>Sequences and Series</li>
                      <li>Limits Continuity and Differentiability</li>
                  </ol>
                  </div></div></div><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref36"><h3 _ngcontent-c9="" class="info headding3">Exam Pattern for JEE Main</h3><div _ngcontent-c9="" class="blog-post "><p>The JEE Main 2019 Examination is divided into two parts:</p>
                  
                  <ul>
                      <li>Paper 1 for B.E. and B. Tech. (Computer based only)</li>
                      <li>Paper 2 for B. Arch. &amp; B. Planning (Pen and paper only)</li>
                  </ul>
                  
                  <h5><strong>Paper 1 :</strong></h5>
                  
                  <table border="1">
                      <thead>
                          <tr>
                              <th scope="col"><strong>Particulars</strong></th>
                              <th scope="col"><strong>Details</strong></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Subjects</td>
                              <td>Physics, Chemistry and Mathematics</td>
                          </tr>
                          <tr>
                              <td>Type of questions</td>
                              <td>Objective (MCQs)</td>
                          </tr>
                          <tr>
                              <td>Mode of examination</td>
                              <td>Computer based mode only</td>
                          </tr>
                          <tr>
                              <td>Exam duration</td>
                              <td>3 hours</td>
                          </tr>
                          <tr>
                              <td>Number of questions</td>
                              <td>90 (30 questions from each subject)</td>
                          </tr>
                          <tr>
                              <td>Marking scheme</td>
                              <td>4 marks awarded for each correct answer</td>
                          </tr>
                          <tr>
                              <td>Negative marking</td>
                              <td>1/4 marks deducted for each incorrect response</td>
                          </tr>
                      </tbody>
                  </table>
                  
                  <p>&nbsp;</p>
                  
                  <h5><strong>Paper 2 :&nbsp;</strong></h5>
                  
                  <table border="1">
                      <thead>
                          <tr>
                              <th scope="col"><strong>Sections</strong></th>
                              <th scope="col"><strong>Type of Question</strong></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Section 1: Mathematics</td>
                              <td>Objective (MCQs)</td>
                          </tr>
                          <tr>
                              <td>Section 2: Aptitude test</td>
                              <td>Objective (MCQs)</td>
                          </tr>
                          <tr>
                              <td>Section 3: Drawing test</td>
                              <td>&nbsp;-</td>
                          </tr>
                          <tr>
                              <td><strong>Particulars</strong></td>
                              <td><strong>Details</strong></td>
                          </tr>
                          <tr>
                              <td>Mode of Examination</td>
                              <td>Offline</td>
                          </tr>
                          <tr>
                              <td>Exam Duration</td>
                              <td>3 hours</td>
                          </tr>
                      </tbody>
                  </table>
                  
                  <p>&nbsp;</p>
                  
                  <p>Medium of Language&nbsp;in JEE Main 2019</p>
                  
                  <table border="1">
                      <thead>
                          <tr>
                              <th scope="col"><strong>Medium of Language</strong></th>
                              <th scope="col"><strong>Exam Centres</strong></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>English and Hindi</td>
                              <td>All examination centres</td>
                          </tr>
                          <tr>
                              <td>Gujarati</td>
                              <td>Exam centres in Gujarat, Daman &amp; Diu and Dadra &amp; Nagar Haveli</td>
                          </tr>
                          <tr>
                              <td>Marathi</td>
                              <td>Exam centres in Maharashtra</td>
                          </tr>
                          <tr>
                              <td>Urdu</td>
                              <td>Exam centres in Maharashtra</td>
                          </tr>
                      </tbody>
                  </table>
                  
                  <p>Here are a few important guidelines you need to keep in mind.</p>
                  
                  <ul>
                      <li>There is only one correct response for a question. More than one response(s) to any question is considered incorrect and marks are deducted accordingly.</li>
                      <li>Electronic gadgets are not allowed in the exam hall.</li>
                  </ul>
                  </div></div></div></div>






















            
        </div>
    </div>
</div>

<!-- Course-area end -->