<!-- Course-details-area start -->
<div class="course-details-area pb-60">
    <!-- Course title -->
    <div class="course-banner bg-img bg-cover pb-5" data-bg-image="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner-content" data-aos="fade-up">
                        <nav aria-label="breadcrumb">
                          
                        </nav>
                        <h3 class="title mb-15 mt-10">
                            The gateway to engineering, agricultural and medical programs in colleges and universities within Andhra Pradesh.                   </h3>
                        <p class="text mb-20">
                            What you will learn                            </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course-description -->
    <div class="container">
        <div class="row gx-xl-5">
            <div class="col-lg-8" data-aos="fade-up">
                <!-- course-details-tab -->
                <div class="course-details-tab pt-5">
                    <div class="tabs-navigation mb-40">
                        <ul class="nav nav-tabs" data-hover="fancyHover">
                            <li class="nav-item active">
                                <button class="nav-link hover-effect btn-md rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Overview</button>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="tab-content">
                        <!-- Overview -->
                        <div class="tab-pane slide slide show active" id="tab1">
                            <div class="content pb-20">
                                <p class="text">
                                    Engineering Agricultural and Medical Common Entrance Test, commonly called as EAMCET, is an entrance examination held separately in the Indian states of Andhra Pradesh and Telangana for admission into various colleges across both the states in the streams of Engineering, Medicine and Agriculture.                             <div class="row gl-xl-5 mt-20">
                                   
                                   
                                </div>
                            </div>
                        </div>
                        
                       
                        <!-- Review -->
                        <div class="tab-pane slide" id="tab5">
                            <div class="review-progresses p-30 radius-md border mb-40">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-30">
                                    <h4 class="mb-0">Total Reviews Status</h4>
                                    <div class="ratings size-md">
                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star-md.png">
                                            <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star-md.png"></div>
                                        </div>
                                        <span class="ratings-total">(4.5)</span>
                                    </div>
                                </div>
                              
                                <div class="review-list mb-30 border radius-md">
                                    <div class="review-item p-30">
                                        <div class="review-header flex-wrap mb-20">
                                            <div class="author d-flex align-items-center justify-content-between gap-3">
                                                <div class="author-img">
                                                    <a href="error-404.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 rounded-circle">
                                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/avatar-2.jpg" alt="Avatar">
                                                    </a>
                                                </div>
                                                <div class="author-info">
                                                    <h6 class="mb-1">
                                                        <a href="error-404.html" target="_self" title="Link">Johnny Ben</a>
                                                    </h6>
                                                    <div class="ratings mb-1">
                                                        <div class="rate bg-img" data-bg-image="assets/images/rate-star.png">
                                                             <div class="rating-icon bg-img" data-bg-image="assets/images/rate-star.png"></div>
                                                        </div>
                                                        <span class="ratings-total">(4.5)</span>
                                                     </div>
                                                    <span class="font-xsm icon-start">
                                                        <span class="color-green">
                                                            <i class="fas fa-badge-check"></i>
                                                        </span>
                                                        Verified User
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start">
                                                    <i class="fal fa-map-marker-alt"></i>
                                                    Los Angela's, USA
                                                </div>
                                                <div class="icon-start">
                                                    <i class="fal fa-clock"></i>
                                                    04 Days ago
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="lc-1">Ana Studios was very logical and creative at the same time</h4>
                                        <p>The client received excellent feedback on DePalma Studios’ designs due to
                                            their website's improved look and feel. The team was very communicative and
                                            collaborative, and they demonstrated a unique understanding of the client’s
                                            requirements, providing very.
                                        </p>
                                    </div>
                                    <div class="review-reply bg-light border-top p-30">
                                        <div class="review-header flex-wrap mb-20 d-flex align-items-center justify-content-between gap-3">
                                            <div class="author d-flex align-items-center gap-2">
                                                <div class="icon"><i class="fal fa-reply-all"></i></div>
                                                <h6 class="mb-0">Reply from Ana Rita Pailo</h6>
                                            </div>
                                            <div class="more-info font-sm">
                                                <div class="icon-start"><i class="fal fa-clock"></i>04 Days ago</div>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <p>Hi Thomas,</p>
                                            <p>I can see that we screwed up in our communication with you, and for that
                                                I sincerely apologize!</p>
                                            <p>I just re-read the email chain with Sven and I can see that we dropped
                                                the ball in of our explanation of how we work. I think there were
                                                several miscommunications that happened here, which I take full
                                                responsibility for.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pagination -->
                                <nav class="pagination-nav mb-30">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Previous">
                                                <i class="far fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="courses.html">1</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">2</a></li>
                                        <li class="page-item"><a class="page-link" href="courses.html">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="courses.html" aria-label="Next">
                                                <i class="far fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up">
                <aside class="widget-area bg-white shadow-md radius-md">
                    <div class="widget widget-enroll p-25">
                        <figure class="course-img">
                            
                                <img class="lazyload" src="assets/images/exams/apeamcet.jpg" alt="class-6">
                                
                               
                           
                            <div class="social-link rounded justify-content-center mt-20 pt-20 border-top">
                                <div class="course-price mt-15">
                                    <h4 class="new-price">AP EAMCET
                                    </h4>
                                </div>
                                
                            </div>
                        </figure>
                       
                        
                       
                        <ul class="toggle-list list-unstyled mt-20" id="toggleList" data-toggle-show="5">
                            <li class="icon-start">
                                <span>
                                    
                                    <span class="name">FIELD :</span>
                                </span>
                                <span>Engineering,
                                    Agriculture & Medicine</span>
                            </li>
                            <li class="icon-start">
                                <span>
                                   
                                    <span class="name">ELIGIBILITY :</span>
                                </span>
                                <span> 12th Standard
                                Science Students </span>
                            </li>
                            <li class="icon-start">
                                <span>
                                  
                                    <span class="name">SUBJECTS :</span>
                                </span>
                                <span>Chemistry, Physics,
                                    Mathematics and Biology</span>
                            </li>
                            
                            <li class="icon-start">
                                <span>
                                    
                                    <span class="name">QUESTIONS TYPE:</span>
                                </span>
                                <span>Objective MCQs</span>
                            </li>
                        </ul>
                       
                       
                    </div>
                </aside>
               
        </div>
    </div>
</div>

<!-- Course-details-area start -->

<!-- Course-details-area start -->


<section class="course-area latest ptb-100">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title title-inline mb-30" data-aos="fade-up">
                <h2 class="title mb-20">
                    Prepare Easy with <span>SRESHTA EDUTECH</span>
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                
            </div>
        </div>
        <div class="col-12">
            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane slide show active" id="tab1">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Videolectures.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Videolectures
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Learn every concept visually for a strong foundation
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/AdaptivePractice.jpg" alt="course">
                                    </a>
                                    
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                AdaptivePractice
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Practice questions which adapt to your own pace
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Livedoubts.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Livedoubts
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Chat with the best teachers to solve your doubts 24x7
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30">
                                <figure class="course-img">
                                    <a href="#" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                        <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/course/Testseries.jpg" alt="course">
                                    </a>
                                   
                                </figure>
                                <div class="course-details">
                                    <div class="p-3">
                                       
                                        <h6 class="course-title lc-2 mb-0">
                                            <a href="#" target="_self" title="Link">
                                                Test Series
                                            </a>
                                        </h6>
                                        
                                    </div>
                                    <div class="course-bottom-info px-3 py-2">
                                        Compete with millions in an exam like environment
                                    </div>
                                </div>
                            </div>
                        </div>
            

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div data-aos="fade-up">
                <h4></h4>
                <h2 class="title mb-20">
                    All you need to know about AP EAMCET
                    <img class="title-shape lazyload" src="assets/images/placeholder.png" data-src="assets/images/shape/title-shape.png" alt="Shape">
                </h2>
                <div _ngcontent-c9="" class="col-sm-9  pl-4 "><!--bindings={
                    "ng-reflect-ng-for-of": "[object Object],[object Object"
                  }--><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref46"><h3 _ngcontent-c9="" class="info headding3">What is AP EAMCET?</h3><div _ngcontent-c9="" class="blog-post "><p>The Andhra Pradesh Engineering, Agriculture and Medical Common Entrance Test (AP EAMCET) is a competitive examination.</p>
                  
                  <ul>
                      <li>This popular examination is your gateway to Engineering and Medical programs in various colleges and universities within Andhra Pradesh.</li>
                      <li>It is conducted by the Jawaharlal Nehru Technological University (JNTU), Kakinada.</li>
                      <li>Every year, about 3 lakh students appear for it.</li>
                      <li>To calculate ranks, 75% weightage will be given to the candidate’s EAMCET marks, and 25% to the intermediate marks (ICSE, CBSE or Intermediate).</li>
                  </ul>
                  </div></div></div><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref47"><h3 _ngcontent-c9="" class="info headding3">Syllabus for AP EAMCET</h3><div _ngcontent-c9="" class="blog-post "><p>Since AFMC assesses your performance in NEET, you should refer its syllabus.</p>
                  
                  <p><img alt="" height="50px" src="assets/images/physics.png" width="50px"> <h3><strong>Physics</strong></h3>
                  
                  <ol>
                      <li>Units and Measurements</li>
                      <li>Motion in a Straight Line</li>
                      <li>Motion in a Plane</li>
                      <li>Laws of Motion</li>
                      <li>Work, Energy and Power</li>
                      <li>Systems of Particles and Rotational Motion</li>
                      <li>Oscillations</li>
                      <li>Gravitation</li>
                      <li>Mechanical Properties of Solids</li>
                      <li>Mechanical Properties of Fluids</li>
                      <li>Thermal Properties of Matter</li>
                      <li>Thermodynamics</li>
                      <li>Kinetic Theory</li>
                      <li>Waves</li>
                      <li>Ray Optics and Optical Instructions</li>
                      <li>Wave Optics</li>
                      <li>Electric Charges and Fields</li>
                      <li>Current Electricity</li>
                      <li>Moving Charges and Magnetism</li>
                      <li>Magnetism and Matter</li>
                      <li>Electromagnetic Induction</li>
                      <li>Alternating Current</li>
                      <li>Electromagnetic Waves</li>
                      <li>Dual Nature of Radiation and Matter</li>
                      <li>Semiconductor Electronics</li>
                      <li>Atoms</li>
                      <li>Nuclei</li>
                      <li>Semiconductor Electronics: Materials, Devices and Simple Circuits</li>
                      <li>Communication Systems</li>
                      <li>Electrostatic Potential and Capacitance</li>
                  </ol>
                  
                  <p><img alt="" height="50px" src="assets/images/chemistry.png" width="50px"> <h3><strong>Chemistry</strong></h3>
                  
                  <ol>
                      <li>Atomic Structure</li>
                      <li>Classification of Elements and Periodicity in Properties</li>
                      <li>Chemical Bonding and Molecular Structure</li>
                      <li>States of Matter: Gases and Liquids</li>
                      <li>Stoichiometry</li>
                      <li>Thermodynamics</li>
                      <li>Chemical Equilibrium and Acid-Bases</li>
                      <li>Solid State</li>
                      <li>Solutions</li>
                      <li>Electrochemistry and Chemical Kinetics</li>
                      <li>Surface Chemistry</li>
                      <li>Hydrogen and its Compounds</li>
                      <li>s-Block Elements</li>
                      <li>p-Block Elements – Group 13 (Boron family) and 14 (Carbon family)</li>
                      <li>d- and f-Block Elements and Coordination Compounds</li>
                      <li>General Principles of Metallurgy</li>
                      <li>Organic Chemistry – Some Basic Principles and Techniques and Hydrocarbons</li>
                      <li>Polymers</li>
                      <li>Biomolecules</li>
                      <li>Chemistry in Everyday Life</li>
                      <li>Haloalkanes and Haloarenes</li>
                      <li>Organic Compounds Containing Carbon, Hydrogen and Oxygen</li>
                      <li>Organic Compounds Containing Nitrogen</li>
                      <li>Environmental Chemistry</li>
                  </ol>
                  
                  <p><img alt="" height="50px" src="assets/images/biology.png" width="50px"> <h3><strong>Biology</strong></h3>
                  
                  <ol>
                      <li>Unit I: Reproduction
                      <ul>
                          <li>Reproduction in Organisms</li>
                          <li>Sexual Reproduction in Flowering Plants</li>
                          <li>Human Reproduction</li>
                          <li>Reproductive Health</li>
                      </ul>
                      </li>
                      <li>Unit II: Genetics and Evolution
                      <ul>
                          <li>Heredity and Variation</li>
                          <li>Molecular Basis of Inheritance</li>
                          <li>Evolution</li>
                      </ul>
                      </li>
                      <li>Unit III: Biology and Human Welfare
                      <ul>
                          <li>Health and Disease</li>
                          <li>Improvement in Food Production</li>
                          <li>Microbes in Human Welfare</li>
                      </ul>
                      </li>
                  </ol>
                  
                  <ol start="4">
                      <li>Unit IV: Biotechnology and its Applications
                      <ul>
                          <li>Principles and Processes of Biotechnology</li>
                          <li>Application of Biotechnology in Health and Agriculture</li>
                      </ul>
                      </li>
                      <li>Unit V: Ecology and Environment
                      <ul>
                          <li>Organisms and Environment: Habitat and Niche</li>
                      </ul>
                      </li>
                  </ol>
                  
                  <p><img alt="" height="50px" src="assets/images/maths.png" width="50px"> <h3><strong>Mathematics</strong></h3>
                  
                  <ol>
                      <li>Algebra</li>
                      <li>Trigonometry</li>
                      <li>Vector Algebra</li>
                      <li>Measures of Dispersion and Probability</li>
                      <li>Coordinate Geometry</li>
                      <li>Calculus</li>
                      <li>Matrices</li>
                      <li>De Moivre’s Theorem</li>
                      <li>Quadratic Expressions</li>
                      <li>Permutations and Combinations</li>
                      <li>Binomial Theorem</li>
                      <li>Partial Fractions</li>
                      <li>Trigonometric Ratios and Functions</li>
                      <li>Trigonometric Equations</li>
                      <li>Inverse Trigonometric Functions</li>
                      <li>Hyperbolic Functions</li>
                      <li>Properties of Triangles</li>
                      <li>Vectors</li>
                      <li>Product of Vectors and their Geometrical Interpretations</li>
                      <li>3D Geometry</li>
                      <li>Measures of Dispersion</li>
                      <li>Classical Definition of Probability</li>
                      <li>Probability Distributions</li>
                      <li>Locus</li>
                      <li>Transformation of Axes</li>
                      <li>Conic Sections</li>
                      <li>Functions</li>
                      <li>Limits and Continuity</li>
                      <li>Differentiation</li>
                      <li>Applications of Derivatives</li>
                      <li>Integration</li>
                      <li>Definite Integrals</li>
                      <li>Differential Equations</li>
                  </ol>
                  </div></div></div><div _ngcontent-c9=""><div _ngcontent-c9="" class="pt-4" id="ref48"><h3 _ngcontent-c9="" class="info headding3">Exam Pattern for AP EAMCET</h3><div _ngcontent-c9="" class="blog-post "><table border="1">
                      <thead>
                          <tr>
                              <th scope="col"><strong>Particulars</strong></th>
                              <th scope="col"><strong>Details</strong></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Sections</td>
                              <td>3</td>
                          </tr>
                          <tr>
                              <td>Subjects</td>
                              <td>Physics, Chemistry, Mathematics and Biology</td>
                          </tr>
                          <tr>
                              <td>Type of questions</td>
                              <td>Objective (MCQs)</td>
                          </tr>
                          <tr>
                              <td>Number of questions</td>
                              <td>160</td>
                          </tr>
                          <tr>
                              <td>Mode of examination</td>
                              <td>Offline</td>
                          </tr>
                          <tr>
                              <td>Exam duration</td>
                              <td>3 hours</td>
                          </tr>
                          <tr>
                              <td>Marking scheme</td>
                              <td>1 mark for each correct answer</td>
                          </tr>
                          <tr>
                              <td>Negative marking</td>
                              <td>None</td>
                          </tr>
                      </tbody>
                  </table>
                  </div></div></div></div>













                
            
        </div>
    </div>
</div>

<!-- Course-area end -->
