<main>
  <!-- Home-area start-->
  <section class="hero-banner hero-banner_v1 header-next pb-60">
    <div class="container">
      <div class="row align-items-center gx-xl-5">
        <div class="col-lg-6">
          <div class="banner-content mb-40">
            <div class="row">
              <div class="col">
                <img src="assets/images/banner/character.png" />
              </div>
              <div class="col">
                <h2 data-aos="fade-up" data-aos-delay="100">
                  Explore the world of Personalised <br />
                  <span>Learning</span>
                </h2>
              </div>
            </div>
            <p class="text" data-aos="fade-up" data-aos-delay="100">
              Welcome to Sreshta EduTech, your digital destination for
              high-quality education and professional development.
            </p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <div class="banner-image mb-40">
            <img
              class="lazyload blur-up"
              src="assets/images/placeholder.png"
              data-src="assets/images/banner/hero-banner-1.png"
              alt="Banner Image"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Shapes -->
    <div class="shape">
      <img
        class="shape-1 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/shape-1.png"
        alt="Shape"
      />
      <img
        class="shape-2 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/apple.png"
        alt="Shape"
      />
      <img
        class="shape-3 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/shape-3.png"
        alt="Shape"
      />
      <img
        class="shape-4 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/shape-4.png"
        alt="Shape"
      />
      <img
        class="shape-5 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/shape-5.png"
        alt="Shape"
      />
      <img
        class="shape-6 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/idea.png"
        alt="Shape"
      />
      <img
        class="shape-7 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/shape-7.png"
        alt="Shape"
      />
      <img
        class="shape-8 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/books.png"
        alt="Shape"
      />
      <img
        class="shape-9 lazyload"
        src="assets/images/placeholder.png"
        data-src="assets/images/shape/shape-6.png"
        alt="Shape"
      />
    </div>
  </section>
  <!-- Home-area end -->

  <!--Benefits-area start -->
  <section class="howitworks-area testimonial-area_v2 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="container">
            <div class="how-section1">
              <div class="row">
                <div class="col-md-6 how-img">
                  <img
                    class="lazyload"
                    src="assets/images/features/self-learning.png"
                  />
                </div>
                <div class="col-md-6">
                  <h3 class="title"><br /><span> Self Learning</span></h3>
                  <p class="text-muted">
                    A key feature to engage yourself and bring the best out you
                    is our priority. The conception that sustain the learning
                    techniques to contribute to the students learning on the
                    active and creative appropriation of a new knowledge through
                    a constant self- improvement of the autonomy and self-
                    determination with the ability to understand the theatrical
                    and methodological foundations.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3 class="title"><br /><span>Accurate Results</span></h3>
                  <p class="text-muted">
                    In today’s e- learning environment, students are viewed as
                    customers and students satisfaction is always one of the
                    university’s most important goals. In order to obtain such
                    goals , we are creating a platform wherein the students
                    first understand the attributes , enhance overall skills
                    required and reach out the level of excellence and acquire
                    the desired results.
                  </p>
                </div>
                <div class="col-md-6 how-img">
                  <img
                    class="lazyload"
                    src="assets/images/features/accurate-results.png"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 how-img">
                  <img
                    class="lazyload"
                    src="assets/images/features/Growth-Process.png"
                  />
                </div>
                <div class="col-md-6">
                  <h3 class="title"><br /><span>Growth Process</span></h3>
                  <p class="text-muted">
                    One of the main factors for growing and improving yourself
                    to reach the target level is to first Build up yourself with
                    various skills and pursuing all the abilities is what we
                    focus on, developing the features of new techniques of
                    learning to make the program even more easier for you, we
                    believe in a person evolving and spreading out the knowledge
                    and gaining all the possible outcomes in coming future.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Benefits end -->
  <!--Why Choose-area start -->
  <section class="howitworks-area testimonial-area_v2 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title title-center mb-50" data-aos="fade-up">
            <h3 class="title">
              <br /><span>Why choose <br />Sreshta Edutech</span>
            </h3>
            <br />
            <div class="container">
              <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane slide show active" id="tab1">
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <div class="course-default border radius-md mb-30">
                        <figure class="course-img">
                          <a
                            href="#"
                            title="Student Login"
                            target="_self"
                            class="lazy-container ratio ratio-2-3"
                          >
                            <img
                              class="lazyload"
                              src="assets/images/placeholder.png"
                              data-src="assets/images/grade-syllabus/choose1.jpg"
                              alt="course"
                            />
                          </a>
                        </figure>

                        <div class="course-details">
                          <div class="p-3">
                            <div class="cta-btn text-center mt-15">
                              <a
                                href="#"
                                title="Global Educators"
                                target="_self"
                              >
                              </a>
                            </div>
                            <h4>Top 1% Global Learners</h4>
                            <p>
                              Rigorously trained to promote children's interest,
                              curiosity and learning.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="course-default border radius-md mb-30">
                        <figure class="course-img">
                          <a
                            href="#"
                            title="School Login"
                            target="_self"
                            class="lazy-container ratio ratio-2-3"
                          >
                            <img
                              class="lazyload"
                              src="assets/images/school-admin.jpg"
                              data-src="assets/images/grade-syllabus/choose2.jpg"
                              alt="course"
                            />
                          </a>
                        </figure>

                        <div class="course-details">
                          <div class="p-3">
                            <div class="cta-btn text-center mt-15">
                              <a href="#" title="Curriculum" target="_self"></a>
                            </div>
                            <h4>Curriculum for the Future</h4>

                            <p>
                              Designed by a global consulting firm of industry
                              experts and leading universities.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="course-default border radius-md mb-30">
                        <figure class="course-img">
                          <a
                            href="#"
                            title="Faculty Login"
                            target="_self"
                            class="lazy-container ratio ratio-2-3"
                          >
                            <img
                              class="lazyload"
                              src="assets/images/placeholder.png"
                              data-src="assets/images/grade-syllabus/choose3.jpg"
                              alt="course"
                            />
                          </a>
                        </figure>

                        <div class="course-details">
                          <div class="p-3">
                            <div class="cta-btn text-center mt-15">
                              <a
                                href="#"
                                title="Global Educators"
                                target="_self"
                              ></a>
                            </div>
                            <h4>Getting into the World Arena</h4>

                            <p>
                              Compete against over 1 million future leaders with
                              premium access to international hackathons.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="course-default border radius-md mb-30">
                        <figure class="course-img">
                          <a
                            href="#"
                            title="Faculty Login"
                            target="_self"
                            class="lazy-container ratio ratio-2-3"
                          >
                            <img
                              class="lazyload"
                              src="assets/images/placeholder.png"
                              data-src="assets/images/grade-syllabus/choose4.jpg"
                              alt="course"
                            />
                          </a>
                        </figure>

                        <div class="course-details">
                          <div class="p-3">
                            <div class="cta-btn text-center mt-15">
                              <a
                                href="#"
                                title="Global Educators"
                                target="_self"
                              ></a>
                            </div>
                            <h4>Learn what you want, how you want</h4>

                            <p>
                              Experience the ease of learning at your own pace
                              with a best-in-class, customisable solution.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Why Choose end -->

  <!--How it works-area start -->
  <section class="howitworks-area testimonial-area_v2 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title title-center mb-50" data-aos="fade-up">
            <h3 class="title">
              <br /><span>How <br />Sreshta Edutech work's</span>
            </h3>
            <p>
              Sreshta Edu Tech stands by you all the way to ensure that you
              achieve your learning goals. We are “Dedicatedly Committed”.
            </p>
            <br />
            <div class="container bootdey">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <!-- Timeline start -->
                      <div class="timeline">
                        <div class="timeline-row">
                          <div class="timeline-time">
                            <h4>Concept Learning</h4>
                            <p>
                              Learning becomes effective when flavoured with
                              <br />good video lectures, materials,Mind Maps,
                              and<br />
                              Examination-Practicing questions/tests.
                            </p>
                          </div>
                          <div class="timeline-dot fb-bg"></div>
                          <div class="timeline-content">
                            <img
                              class="lazyload"
                              src="assets/images/learn.png"
                            />
                          </div>
                        </div>
                        <div class="timeline-row">
                          <div class="timeline-time">
                            <h4>Mind Maps</h4>
                            <p>
                              MindMap is to visually organize information and
                              ideas, allowing for better understanding, memory
                              retention, and creative thinking. which are
                              graphical representations that start with a
                              central Idea.
                            </p>
                          </div>
                          <div class="timeline-dot green-one-bg"></div>
                          <div class="timeline-content green-one">
                            <img
                              class="lazyload"
                              src="assets/images/mindmaps.png"
                            />
                          </div>
                        </div>
                        <div class="timeline-row">
                          <div class="timeline-time">
                            <h4>Video lectures</h4>
                            <p>
                              Video tutorials make the process of e-learning
                              easy and effective. Students can access to any
                              video any time whenever they want, no time bound
                              they can learn anywhere from their mobile devices
                              Laptops,tablets or smartphones which can be a
                              distant learning.
                            </p>
                          </div>
                          <div class="timeline-dot green-two-bg"></div>
                          <div class="timeline-content green-two">
                            <img
                              class="lazyload"
                              src="assets/images/videolecture.PNG"
                            />
                          </div>
                        </div>
                        <div class="timeline-row">
                          <div class="timeline-time">
                            <h4>Quiz</h4>
                            <p>
                              Online quiz makes students to engage in a unique
                              way. We have almost 10,000 quiz questions , for
                              all subjects for practicing. Students can evaluate
                              their standards, by taking up online quiz, which
                              give them immediate results. This helps students
                              to save their time.
                            </p>
                          </div>
                          <div class="timeline-dot green-three-bg"></div>
                          <div class="timeline-content green-three">
                            <img
                              class="lazyload"
                              src="assets/images/quiz.PNG"
                            />
                          </div>
                        </div>
                        <div class="timeline-row">
                          <div class="timeline-time">
                            <h4>Reports</h4>
                            <p>
                              Reports include individual student performance and
                              grading<br />
                              with respect to their practicing of tests.
                              Students, knowing<br />
                              their grade will work on their improvement.
                            </p>
                          </div>
                          <div class="timeline-dot green-four-bg"></div>
                          <div class="timeline-content green-four">
                            <img
                              class="lazyload"
                              src="assets/images/reports.PNG"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--How it works-area end -->

  <!-- IOT-area start -->
  <section class="testimonial-area testimonial-area_v1 pb-60">
    <div class="container">
      <div class="row align-items-center gx-xl-5">
        <div class="col-lg-5" data-aos="fade-up">
          <div class="content-title mb-30">
            <h2 class="title">
              Internet of things (IOT) and AI with Robotics

              <img
                class="title-shape lazyload"
                src="assets/images/placeholder.png"
                data-src="assets/images/shape/title-shape.png"
                alt="Shape"
              />
            </h2>
          </div>
          <div
            class="swiper testimonial-slider mb-40"
            id="testimonial-slider-1"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote">
                    <p class="text font-lg mb-0">
                      Internet of Things (IoT) incorporates internet-connected
                      devices or sensors that have the potential to collect
                      millions and billions of Gigabytes of data in real-time.
                      Without any human intervention, the data in IoT is
                      transferred among the various devices over a wireless
                      network.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote"></div>
                  <div class="client-info d-flex align-items-center mt-30">
                    <div class="client-img"></div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote"></div>
                  <div class="client-info d-flex align-items-center mt-30">
                    <div class="client-img"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7" data-aos="fade-up">
          <div class="testimonial-images img-right pb-10">
            <div class="row align-items-center">
              <div class="col-sm-6" data-aos="fade-up">
                <div class="lazy-container radius-md mb-30 ratio ratio-1-2">
                  <img
                    class="lazyload blur-up"
                    src="assets/images/iot-1.png"
                    data-src="assets/images/iot-1.png"
                    alt="Client Image"
                  />
                </div>
              </div>
              <div class="col-sm-6" data-aos="fade-up">
                <div class="lazy-container radius-md mb-30 ratio ratio-1-2">
                  <img
                    class="lazyload blur-up"
                    src="assets/images/iot-2.png"
                    data-src="assets/images/iot-2.png"
                    alt="Client Image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- IOT-area end -->

  <!-- IIT-area start -->
  <section class="testimonial-area testimonial-area_v1 pb-60">
    <div class="container">
      <div class="row align-items-center gx-xl-5">
        <div class="col-lg-5" data-aos="fade-up">
          <div class="content-title mb-30">
            <h2 style="color: #ee8b5d">Coming Soon</h2>
            <br />
            <h2 class="title">
              IIT Foundation
              <img
                class="title-shape lazyload"
                src="assets/images/placeholder.png"
                data-src="assets/images/shape/title-shape.png"
                alt="Shape"
              />
            </h2>
          </div>
          <div
            class="swiper testimonial-slider mb-40"
            id="testimonial-slider-1"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote">
                    <p class="text font-lg mb-0">
                      IIT JEE foundation is a starting point (building block)
                      for JEE aspirants from class 6 to 10. Sometimes also
                      called as "IIT JEE Launching Programs", the foundation
                      course helps aspirants become mentally and strategically
                      strong when they start studying IIT JEE concepts and
                      topics, ideally from class 11 onwards.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote"></div>
                  <div class="client-info d-flex align-items-center mt-30">
                    <div class="client-img"></div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote"></div>
                  <div class="client-info d-flex align-items-center mt-30">
                    <div class="client-img"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7" data-aos="fade-up">
          <div class="testimonial-images img-right pb-10">
            <div class="row align-items-center">
              <div class="col-sm-6" data-aos="fade-up">
                <div class="lazy-container radius-md mb-30 ratio ratio-1-2">
                  <img
                    class="lazyload blur-up"
                    src="assets/images/iit1.jpg"
                    data-src="assets/images/iit1.jpg"
                    alt="Client Image"
                  />
                </div>
              </div>
              <div class="col-sm-6" data-aos="fade-up">
                <div class="lazy-container radius-md mb-30 ratio ratio-1-2">
                  <img
                    class="lazyload blur-up"
                    src="assets/images/iit2.jpg"
                    data-src="assets/images/iit2.jpg"
                    alt="Client Image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- IIT-area end -->

  <!-- Skill Education-area start -->
  <section class="testimonial-area testimonial-area_v1 pb-60">
    <div class="container">
      <div class="row align-items-center gx-xl-5">
        <div class="col-lg-5" data-aos="fade-up">
          <div class="content-title mb-30">
            <h2 style="color: #ee8b5d">Coming Soon</h2>
            <br />
            <h2 class="title">
              Skill Education
              <img
                class="title-shape lazyload"
                src="assets/images/placeholder.png"
                data-src="assets/images/shape/title-shape.png"
                alt="Shape"
              />
            </h2>
          </div>
          <div
            class="swiper testimonial-slider mb-40"
            id="testimonial-slider-1"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote">
                    <p class="text font-lg mb-0">
                      Life skills are abilities for adaptive and positive
                      behavior that enable humans to deal effectively with the
                      demands and challenges of life.[1] This concept is also
                      termed as psychosocial competency.[2] The subject varies
                      greatly depending on social norms and community
                      expectations but skills that function for well-being and
                      aid individuals to develop into active and productive
                      members of their communities are considered as life
                      skills.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote"></div>
                  <div class="client-info d-flex align-items-center mt-30">
                    <div class="client-img"></div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slider-item bg-white">
                  <div class="quote"></div>
                  <div class="client-info d-flex align-items-center mt-30">
                    <div class="client-img"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7" data-aos="fade-up">
          <div class="testimonial-images img-right pb-10">
            <div class="row align-items-center">
              <div class="col-sm-6" data-aos="fade-up">
                <div class="lazy-container radius-md mb-30 ratio ratio-1-2">
                  <img
                    class="lazyload blur-up"
                    src="assets/images/Life-Skills.jpg"
                    data-src="assets/images/Life-Skills.jpg"
                    alt="Client Image"
                  />
                </div>
              </div>
              <div class="col-sm-6" data-aos="fade-up">
                <div class="lazy-container radius-md mb-30 ratio ratio-1-2">
                  <img
                    class="lazyload blur-up"
                    src="assets/images/Life-Skills2.jpg"
                    data-src="assets/images/Life-Skills2.jpg"
                    alt="Client Image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Skill Education-area end -->

  <!-- App-area start -->
  <section class="course-area popular ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="assets/images/device.png" />
        </div>

        <div class="col-md-5">
          <h2 class="title mb-30">
            SRESHTA EDUTECH
            <img
              class="title-shape lazyload"
              src="assets/images/placeholder.png"
              data-src="assets/images/shape/title-shape.png"
              alt="Shape"
            />
          </h2>
          <a href="#"
            ><img
              style="width: 150px; height: 55px"
              src="assets/images/playstore.png"
          /></a>
          <a href="#"
            ><img
              style="width: 150px; height: 50px"
              src="assets/images/appstore.png"
          /></a>
        </div>
      </div>
    </div>
  </section>
  <!-- App-area end -->

  <!-- Counter-area start -->
  <div class="container">
    <div class="wrapper bg-white shadow-md radius-md px-30 pt-30">
      <div class="row">
        <div class="col-sm-6 col-lg-3 mb-30">
          <div class="card text-center bg-none">
            <div class="card-icon mx-auto mb-15">
              <img
                class="lazyload"
                src="assets/images/placeholder.png"
                data-src="assets/images/icon/counter-icon-5.png"
                alt="Image"
              />
            </div>
            <div class="card-content">
              <span class="h3 font-medium mb-2"
                ><span class="counter">500</span>+</span
              >
              <p class="card-text lh-1">Satisfied Students</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-30">
          <div class="card text-center bg-none">
            <div class="card-icon mx-auto mb-15">
              <img
                class="lazyload"
                src="assets/images/placeholder.png"
                data-src="assets/images/icon/counter-icon-6.png"
                alt="Image"
              />
            </div>
            <div class="card-content">
              <span class="h3 font-medium mb-2"
                ><span class="counter">300</span>+</span
              >
              <p class="card-text lh-1">Online Courses</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-30">
          <div class="card text-center bg-none">
            <div class="card-icon mx-auto mb-15">
              <img
                class="lazyload"
                src="assets/images/placeholder.png"
                data-src="assets/images/icon/counter-icon-7.png"
                alt="Image"
              />
            </div>
            <div class="card-content">
              <span class="h3 font-medium mb-2"
                ><span class="counter">240</span>+</span
              >
              <p class="card-text lh-1">Verified mentor</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-30">
          <div class="card text-center bg-none">
            <div class="card-icon mx-auto mb-15">
              <img
                class="lazyload"
                src="assets/images/placeholder.png"
                data-src="assets/images/icon/counter-icon-8.png"
                alt="Image"
              />
            </div>
            <div class="card-content">
              <span class="h3 font-medium mb-2"
                ><span class="counter">700</span>+</span
              >
              <p class="card-text lh-1">Associated Schools</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter-area end -->

  <!-- Associated schools-area start-->
  <div class="container">
    <div class="wrapper px-30 pt-30">
      <div class="row">
        <div class="col-12">
          <div class="section-title title-center mb-50" data-aos="fade-up">
            <h2>Associated <br /><span> Schools</span></h2>

            <img
              class="title-shape lazyload"
              src="assets/images/placeholder.png"
              data-src="assets/images/shape/title-shape.png"
              alt="Shape"
            />
          </div>
        </div>
        <div class="col-12" data-aos="fade-up">
          <div
            class="swiper category-slider"
            id="category-slider-1"
            data-slides-per-view="5"
            data-swiper-loop="false"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="assets/images/allschools.jpg" />

                <h6 class="card-title lc-1 mb-0"></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12" data-aos="fade-up">
      <div class="cta-btn text-center mt-15">
        <a
          href="schools.html"
          class="btn btn-lg btn-primary rounded-pill"
          title="View Schools List"
          target="_self"
          >View schools 220+
        </a>
      </div>
    </div>
  </div>
  <!-- Associated schools-area end -->

  <!--Videos area start -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title title-center mb-50" data-aos="fade-up">
          <br />
          <h2 class="title"><span> Videos</span></h2>
          <img
            class="title-shape lazyload"
            src="assets/images/placeholder.png"
            data-src="assets/images/shape/title-shape.png"
            alt="Shape"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane slide show active" id="tab1">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="course-default border radius-md mb-30">
                  <figure class="course-img">
                    <iframe
                      _ngcontent-c3=""
                      allow="autoplay; fullscreen"
                      allowfullscreen=""
                      frameborder="0"
                      src="https://player.vimeo.com/video/328636306"
                      width="100%"
                      data-ready="true"
                    ></iframe>
                  </figure>
                  <div class="course-details">
                    <div class="p-3">
                      <h6 class="course-title lc-2 mb-0">
                        <a href="#" target="_self" title="Link">
                          Stone Henge
                        </a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="course-default border radius-md mb-30">
                  <figure class="course-img">
                    <iframe
                      _ngcontent-c3=""
                      allow="autoplay; fullscreen"
                      allowfullscreen=""
                      frameborder="0"
                      src="https://player.vimeo.com/video/385628196"
                      width="100%"
                      data-ready="true"
                    ></iframe>
                  </figure>
                  <div class="course-details">
                    <div class="p-3">
                      <h6 class="course-title lc-2 mb-0">
                        <a href="#" target="_self" title="Link">
                          Spherical Mirrors & Types
                        </a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="course-default border radius-md mb-30">
                  <figure class="course-img">
                    <iframe
                      _ngcontent-c3=""
                      allow="autoplay; fullscreen"
                      allowfullscreen=""
                      frameborder="0"
                      src="https://player.vimeo.com/video/334117050"
                      width="100%"
                      data-ready="true"
                    ></iframe>
                  </figure>
                  <div class="course-details">
                    <div class="p-3">
                      <h6 class="course-title lc-2 mb-0">
                        <a href="#" target="_self" title="Link">
                          Similarity Traingles
                        </a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="course-default border radius-md mb-30">
                  <figure class="course-img">
                    <iframe
                      _ngcontent-c3=""
                      allow="autoplay; fullscreen"
                      allowfullscreen=""
                      frameborder="0"
                      src="https://player.vimeo.com/video/443702813"
                      width="100%"
                      data-ready="true"
                    ></iframe>
                  </figure>
                  <div class="course-details">
                    <div class="p-3">
                      <h6 class="course-title lc-2 mb-0">
                        <a href="#" target="_self" title="Link">
                          Natural Fibre - Cotton
                        </a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- videos-area end -->

          <!--News & Releases area start -->
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div
                  class="section-title title-center mb-50"
                  data-aos="fade-up"
                >
                  <br />
                  <h2 class="title">News & <span> Releases</span></h2>
                  <img
                    class="title-shape lazyload"
                    src="assets/images/placeholder.png"
                    data-src="assets/images/shape/title-shape.png"
                    alt="Shape"
                  />
                </div>
              </div>
              <div class="col-12" data-aos="fade-up">
                <div
                  class="swiper category-slider"
                  id="category-slider-1"
                  data-slides-per-view="5"
                  data-swiper-loop="false"
                >
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="assets/images/news-releases.jpg" />

                      <h6 class="card-title lc-1 mb-0"></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- News & Releases-area end -->

          <!-- Testimonial-area start -->
          <section class="testimonial-area testimonial-area_v2 pb-60">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div
                    class="section-title title-center mb-50"
                    data-aos="fade-up"
                  >
                    <br />
                    <h2 class="title">
                      What Our Students Say About Sreshta Edutech
                    </h2>
                  </div>
                </div>
              </div>
              <div class="row align-items-center gx-xl-5">
                <div class="col-lg-5">
                  <div
                    class="swiper testimonial-slider mb-40"
                    id="testimonial-slider-1"
                    data-aos="fade-up"
                  >




                  
                    <div class="swiper-wrapper">

                      <div class="swiper-slide">
                        <div class="slider-item bg-white">
                          <span class="icon"
                            ><i class="fas fa-quote-right"></i
                          ></span>
                          <div class="quote">
                            <div class="testimonials">
                              <input type="radio" name="testimonial" id="input-testimonial1" checked>
                              <input type="radio" name="testimonial" id="input-testimonial2">
                              <input type="radio" name="testimonial" id="input-testimonial3">
                              <input type="radio" name="testimonial" id="input-testimonial4">
                              <div class="testimonials-inner">
                                <div class="testimonial">
                                  <div class="testimonial-photo">
                                    <div class="client-img">
                                      <div
                                        class="lazy-container rounded-pill ratio ratio-1-1"
                                      >
                                        <img
                                          class="lazyload"
                                          src="assets/images/placeholder.png"
                                          data-src="assets/images/avatar-1.jpg"
                                          alt="Person Image"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="testimonial-text">
                                    <p> I was looking to develop my professional skills,
                                      but didn't have the time or resources to attend
                                      in-person classes. That's when I discovered
                                      Sreshta Edutech. The platform offered a wide range of
                                      courses that fit my needs, and I was able to
                                      complete them on.</p>
                                  </div>
                                  
                                  <div class="testimonial-author">Vidya</div>
                                </div>
                                <div class="testimonial">
                                  <div class="testimonial-photo">
                                    <div class="client-img">
                                      <div
                                        class="lazy-container rounded-pill ratio ratio-1-1"
                                      >
                                        <img
                                          class="lazyload"
                                          src="assets/images/placeholder.png"
                                          data-src="assets/images/avatar-2.jpg"
                                          alt="Person Image"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="testimonial-text">
                                    <p>That's when I discovered
                                      Sreshta Edutech. The platform offered a wide range of
                                      courses that fit my needs, and I was able to
                                      complete them on.</p>
                                  </div>
                                  <div class="testimonial-author">Siddharth</div>
                                </div>
                                <div class="testimonial">
                                  <div class="testimonial-photo">
                                    <div class="client-img">
                                      <div
                                        class="lazy-container rounded-pill ratio ratio-1-1"
                                      >
                                        <img
                                          class="lazyload"
                                          src="assets/images/placeholder.png"
                                          data-src="assets/images/avatar-3.jpg"
                                          alt="Person Image"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="testimonial-text">
                                    <p>That's when I discovered
                                      Sreshta Edutech. The platform offered a wide range of
                                      courses that fit my needs, and I was able to
                                      complete them on.</p>
                                  </div>
                                  <div class="testimonial-author">Vikram</div>
                                </div>
                                <div class="testimonial">
                                  <div class="testimonial-photo">
                                    <div class="client-img">
                                      <div
                                        class="lazy-container rounded-pill ratio ratio-1-1"
                                      >
                                        <img
                                          class="lazyload"
                                          src="assets/images/placeholder.png"
                                          data-src="assets/images/avatar-4.jpg"
                                          alt="Person Image"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="testimonial-text">
                                    <p>That's when I discovered
                                      Sreshta Edutech. The platform offered a wide range of
                                      courses that fit my needs, and I was able to
                                      complete them on.</p>
                                  </div>
                                  <div class="testimonial-author">Sreya</div>
                                </div>
                              </div>
                              <div class="testimonials-arrows">
                                <div class="arrow arrow-left">
                                  <label for="input-testimonial1"></label>
                                  <label for="input-testimonial2"></label>
                                  <label for="input-testimonial3"></label>
                                  <label for="input-testimonial4"></label>
                                  <span></span>
                                </div>
                                <div class="arrow arrow-right">
                                  <label for="input-testimonial1"></label>
                                  <label for="input-testimonial2"></label>
                                  <label for="input-testimonial3"></label>
                                  <label for="input-testimonial4"></label>
                                  <span></span>
                                </div>
                              </div>
                              <div class="testimonials-bullets">
                                <label for="input-testimonial1">
                                  <div class="bullet">
                                    <div>
                                      <span></span>
                                    </div>
                                  </div>
                                </label>
                                <label for="input-testimonial2">
                                  <div class="bullet">
                                    <div>
                                      <span></span>
                                    </div>
                                  </div>
                                </label>
                                <label for="input-testimonial3">
                                  <div class="bullet">
                                    <div>
                                      <span></span>
                                    </div>
                                  </div>
                                </label>
                                <label for="input-testimonial4">
                                  <div class="bullet">
                                    <div>
                                      <span></span>
                                    </div>
                                  </div>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="client-info d-flex align-items-center mt-30">
                            
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="slider-item bg-white">
                          <span class="icon"
                            ><i class="fas fa-quote-right"></i
                          ></span>
                          <div class="quote">
                            <p class="text font-lg mb-0">
                             
                            </p>
                          </div>
                          <div
                            class="client-info d-flex align-items-center mt-30"
                          >
                            <div class="client-img">
                              <div
                                class="lazy-container rounded-pill ratio ratio-1-1"
                              >
                               
                              </div>
                            </div>
                            <div class="content">
                              <h6 class="name mb-0">Rajesh</h6>
                              <span class="designation font-sm"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="slider-item bg-white">
                          <span class="icon"
                            ><i class="fas fa-quote-right"></i
                          ></span>
                          <div class="quote">
                            <p class="text font-lg mb-0">
                              I was looking to develop my professional skills,
                              but didn't have the time or resources to attend
                              in-person classes. That's when I discovered
                              Oppida. The platform offered a wide range of
                              courses that fit my needs, and I was able to
                              complete them on.
                            </p>
                          </div>
                          <div
                            class="client-info d-flex align-items-center mt-30"
                          >
                            <div class="client-img">
                              <div
                                class="lazy-container rounded-pill ratio ratio-1-1"
                              >
                                <img
                                  class="lazyload"
                                  src="assets/images/placeholder.png"
                                  data-src="assets/images/avatar-3.jpg"
                                  alt="Person Image"
                                />
                              </div>
                            </div>
                            <div class="content">
                              <h6 class="name mb-0">Vikram</h6>
                              <span class="designation font-sm"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="swiper-pagination"
                      id="testimonial-slider-1-pagination"
                    ></div>
                  </div>
                </div>
                <div class="col-lg-7" data-aos="fade-up">
                  <div class="testimonial-images mb-40 ps-lg-5">
                    <div class="wrapper">
                      <img
                        class="lazyload"
                        src="assets/images/placeholder.png"
                        data-src="assets/images/avatar-1.jpg"
                        alt="Person Image"
                      />
                      <img
                        class="lazyload"
                        src="assets/images/placeholder.png"
                        data-src="assets/images/avatar-2.jpg"
                        alt="Person Image"
                      />
                      <img
                        class="lazyload"
                        src="assets/images/placeholder.png"
                        data-src="assets/images/avatar-3.jpg"
                        alt="Person Image"
                      />
                      <img
                        class="lazyload"
                        src="assets/images/placeholder.png"
                        data-src="assets/images/avatar-4.jpg"
                        alt="Person Image"
                      />
                      <img
                        class="lazyload"
                        src="assets/images/placeholder.png"
                        data-src="assets/images/avatar-5.jpg"
                        alt="Person Image"
                      />
                      <img
                        class="lazyload"
                        src="assets/images/placeholder.png"
                        data-src="assets/images/avatar-6.jpg"
                        alt="Person Image"
                      />
                      <img
                        class="lazyload"
                        src="assets/images/placeholder.png"
                        data-src="assets/images/avatar-7.jpg"
                        alt="Person Image"
                      />
                      <img
                        class="lazyload"
                        src="assets/images/placeholder.png"
                        data-src="assets/images/avatar-8.jpg"
                        alt="Person Image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

           

  
            





          </section>
          <!-- Testimonial-area end -->




    

          
        </div>
      </div>
    </div>
  </div>
</main>
