 <!-- signup start -->

 <div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 signup-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-6 mx-auto">
               
                <h4 class="login-heading mb-2"> <div><a class="navbar-brand" href="index.html" target="_self" title="Sreshta EduTech">
                  <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/logo/logo-1.svg" alt="Brand Logo">
              </a></div>Sign Up</h4>
                <h4 class="login-heading mb-4"> Let's get started</h4>
                <!-- Sign In Form -->
                <form>
                  <div class="form-floating mb-3">
                    <input type="MobileNumber" class="form-control" id="floatingInput" placeholder="Enter Your Mobile Number">
                    <label for="floatingInput"></label>
                  </div>

                  <div class="form-floating mb-">
                      <!-- Mobile OTP Form -->
                      
                      <h4>OTP Verification</h4>
                      
                      <!-- Six input fields for OTP digits -->
                      <input type="text" class="otp-input" pattern="\d" maxlength="1">
                      <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled>
                      <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled>
                      <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled>
                      <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled>
                      <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled>
                  </div>
                
                
                  <div class="d-grid">
                    <div class="cta-btn text-center mt-15">
                      <a href="profile-configure.html" class="btn btn-lg btn-primary rounded-pill" title="Sign Up"
                          target="_self"> SignUp <i class="fas fa-long-arrow-right"></i> </a>
                  </div>
                    <div class="text-center">
                      <a class="small" href="login.html">Back To Login</a><br>
                    </div>
                  </div>
  
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- signup end -->